[2020-02-07 19:07] bmyerz opened #1 "Prioritize switching between groups"
In GitLab by @bmyerz on Aug 13, 2019, 16:00

Currently
=========

Across the top is tabs for each evaluation.

![image](/uploads/7c868505a29c124550022b38c4d1a2b8/image.png)

To switch groups requires clicking 'select grader' and then 'back to groups'

![image](/uploads/8282132490ea4c101f9442f97f0fbd0b/image.png)

and then 'group ...'

![image](/uploads/8733ac03497bf1e0053ace01e17e263c/image.png)

[2020-02-07 19:07] bmyerz commented on #1
In GitLab by @bmyerz on Aug 13, 2019, 16:01

assigned to @bellqueen

[2020-02-07 19:07] bmyerz commented on #1
In GitLab by @bellqueen on Aug 22, 2019, 15:14

Tool box

[2020-02-07 19:07] bmyerz commented on #1
In GitLab by @bellqueen on Aug 22, 2019, 15:14

closed

[2020-02-07 19:07] bmyerz commented on #1
In GitLab by @bmyerz on Aug 22, 2019, 16:16

reopened

[2020-02-07 19:07] bmyerz commented on #1
In GitLab by @bellqueen on Aug 22, 2019, 16:17

mentioned in merge request !3

[2020-02-07 19:07] bmyerz commented on #1
In GitLab by @bmyerz on Aug 22, 2019, 16:45

closed via commit b39b5809b4cfd45c8205eea08112e8cf191620b3

[2020-02-07 19:07] bmyerz commented on #1
In GitLab by @bmyerz on Aug 22, 2019, 16:45

closed via merge request !3

[2020-02-07 19:07] #1 closed

[2020-02-07 19:07] bmyerz opened #2 "Group and members list always visible during evaluations"
In GitLab by @bmyerz on Aug 13, 2019, 16:17

Currently
=========

No information about which group is being rated.

![image](/uploads/eabedfa4bb607e3fe671724958f4c0ad/image.png)

And scrolling down makes it hard to remember who you are rating.

![image](/uploads/680e88ad9add1361605dcb7fa94fb91b/image.png)

Desired
=======

Make the group name and a list of members visible even when scrolling.

[2020-02-07 19:07] bmyerz commented on #2
In GitLab by @bellqueen on Aug 22, 2019, 15:13

Tool box

[2020-02-07 19:07] bmyerz commented on #2
In GitLab by @bellqueen on Aug 22, 2019, 15:13

closed

[2020-02-07 19:07] bmyerz commented on #2
In GitLab by @bmyerz on Aug 22, 2019, 16:15

reopened

[2020-02-07 19:07] bmyerz commented on #2
In GitLab by @bellqueen on Aug 22, 2019, 16:17

mentioned in merge request !3

[2020-02-07 19:07] bmyerz commented on #2
In GitLab by @bmyerz on Aug 22, 2019, 16:45

closed via commit b39b5809b4cfd45c8205eea08112e8cf191620b3

[2020-02-07 19:07] bmyerz commented on #2
In GitLab by @bmyerz on Aug 22, 2019, 16:45

closed via merge request !3

[2020-02-07 19:07] #2 closed

[2020-02-07 19:07] bmyerz opened #3 "Deploy to public URL"
In GitLab by @bmyerz on Aug 13, 2019, 16:25

Make a production-test server accessible to users through a url. Needs to be visible to some academic users outside of Uiowa.

[2020-02-07 19:07] bmyerz commented on #3
In GitLab by @bmyerz on Aug 13, 2019, 17:23

Set up preliminary meeting for 8/15 with divms to discuss short term deployment (public url, no data backups, no student data) and middle term deployment (uiowa url, data backups, student data)

[2020-02-07 19:08] bmyerz commented on #3
In GitLab by @bmyerz on Aug 20, 2019, 11:47

Another meeting on FERPA and tech fees on 8/20.

Meanwhile lets put the public url for fake test data on https://www.pythonanywhere.com

[2020-02-07 19:08] bmyerz commented on #3
In GitLab by @bellqueen on Sep 12, 2019, 16:44

@bellqueen PythonAnywhere

[2020-02-07 19:08] bmyerz commented on #3
In GitLab by @bmyerz on Sep 19, 2019, 16:35

assigned to @bellqueen and unassigned @bmyerz

[2020-02-07 19:08] bmyerz commented on #3
In GitLab by @bellqueen on Oct 1, 2019, 16:56

closed

[2020-02-07 19:08] #3 closed

[2020-02-07 19:08] bmyerz opened #4 "Options for uploading groups and students"
In GitLab by @bmyerz on Aug 13, 2019, 17:29

Currently
=========

Separate student file and group file are uploaded. Primary key in student file is email, which how students are referred to in the group file.

Desired
=======

The above is a good option for keeping students and groups separate ideas. However, there should be an option to just upload a single students file with a Group column sayin

[2020-02-07 19:08] bmyerz commented on #4
In GitLab by @bmyerz on Oct 17, 2019, 16:27

closed

[2020-02-07 19:08] #4 closed

[2020-02-07 19:08] bmyerz opened #5 "Try with tablet form factor"
In GitLab by @bmyerz on Aug 13, 2019, 17:31

This issue should be addressed by creating additional issues that come up.

[2020-02-07 19:08] bmyerz commented on #5
In GitLab by @bmyerz on Aug 13, 2019, 17:32

changed title from **T{-est-} with tablet form factor** to **T{+ry+} with tablet form factor**

[2020-02-07 19:08] bmyerz commented on #5
In GitLab by @bmyerz on Aug 13, 2019, 17:32

changed the description

[2020-02-07 19:08] bmyerz commented on #5
In GitLab by @bmyerz on Aug 13, 2019, 17:33

Probably requires #3 to be done first

[2020-02-07 19:08] bmyerz commented on #5
In GitLab by @bmyerz on Aug 13, 2019, 17:53

review a resource on best-practices for responsive interfaces on phones

[2020-02-07 19:08] bmyerz commented on #5
In GitLab by @bmyerz on Feb 6, 2020, 13:52

closed

[2020-02-07 19:08] #5 closed

[2020-02-07 19:08] bmyerz opened #6 "Try with phone form factor"
In GitLab by @bmyerz on Aug 13, 2019, 17:32

This issue should be addressed by creating additional User Interface issues that come up.

Listing of known issues
* [x] in portrait orientation, cannot see the hamburger button
![image](/uploads/fab0208fb2373be1f3e7a04d472522a0/image.png)

but can see it in landscape

![image](/uploads/203147819120f36d82e58b9cfab23c3e/image.png)

[2020-02-07 19:08] bmyerz commented on #6
In GitLab by @bmyerz on Aug 13, 2019, 17:33

Probably requires #3 to be done first

[2020-02-07 19:08] bmyerz commented on #6
In GitLab by @bmyerz on Aug 13, 2019, 17:53

review a resource on best-practices for responsive interfaces on phones

[2020-02-07 19:08] bmyerz commented on #6
In GitLab by @bmyerz on Oct 3, 2019, 16:14

Need to make it look good in portrait mode on the phone. This is the easiest way to hold and interact with the phone in one hand.

[2020-02-07 19:08] bmyerz commented on #6
In GitLab by @bmyerz on Oct 3, 2019, 16:15

changed the description

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @bmyerz on Oct 3, 2019, 16:16

changed the description

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @bmyerz on Oct 3, 2019, 16:16

changed the description

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @greynders on Oct 4, 2019, 08:35

I tested it with my phone during our meeting on 10/2/19. I'm running iOS 12.4.1 on an iPhone XR. Here are the two issues I encountered when using the rubrics:

The white menu box at top of screen (looks like three bars) does not appear in potrait mode; it does appear in landscape.

The orange box on the right works to open the Tool box, but the bottom

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 4, 2019, 23:22

assigned to @JackyBreak

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @bmyerz on Oct 11, 2019, 11:32

- [ ] Welcome screen image loads slow on phone sometimes. Perhaps compress it as a jpeg.

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as completed

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as incomplete

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as completed

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as incomplete

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as completed

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as incomplete

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as completed

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as incomplete

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as completed

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as incomplete

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as completed

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as incomplete

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as completed

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as incomplete

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as completed

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 00:25

marked the task **in portrait orientation, cannot see the hamburger button** as incomplete

[2020-02-07 19:09] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 16, 2019, 17:52

mentioned in merge request !15

[2020-02-07 19:10] bmyerz commented on #6
In GitLab by @JackyBreak on Oct 23, 2019, 22:02

marked the task **in portrait orientation, cannot see the hamburger button** as completed

[2020-02-07 19:10] bmyerz commented on #6
In GitLab by @bmyerz on Feb 6, 2020, 13:52

closed

[2020-02-07 19:10] #6 closed

[2020-02-07 19:10] bmyerz opened #7 "Justified ratings text"
In GitLab by @bmyerz on Aug 13, 2019, 17:35

Currently
=========

The text in the boxes is left justified.

![image](/uploads/a914189b73cde33a39df6b4dbe606397/image.png)

Desired
=======

Center justify the text

[2020-02-07 19:10] bmyerz commented on #7
In GitLab by @bmyerz on Aug 13, 2019, 17:38

might choose to address this at same time as #8

[2020-02-07 19:10] bmyerz commented on #7
In GitLab by @bmyerz on Sep 19, 2019, 16:40

assigned to @JackyBreak

[2020-02-07 19:10] bmyerz commented on #7
In GitLab by @JackyBreak on Sep 28, 2019, 21:08

mentioned in merge request !11

[2020-02-07 19:10] bmyerz commented on #7
In GitLab by @bellqueen on Sep 28, 2019, 21:14

mentioned in commit 8bee69284ca1fab5e2c33eb523e91ecb1a65dabf

[2020-02-07 19:10] bmyerz commented on #7
In GitLab by @bellqueen on Sep 28, 2019, 21:14

closed via merge request !11

[2020-02-07 19:10] #7 closed

[2020-02-07 19:10] bmyerz opened #8 "Make rating buttons clickable"
In GitLab by @bmyerz on Aug 13, 2019, 17:37

Currently
=========

Ratings are radio buttons outlined by boxes. Users click the radio circle to select

![image](/uploads/6e16f8e27ae119dfea40ec9d655c2b26/image.png)

Desired
=======

Users request a larger clickable area. Doesn't need to be the entire square, but it should at least be much larger than just the radio circle.

[2020-02-07 19:10] bmyerz commented on #8
In GitLab by @bmyerz on Aug 13, 2019, 17:38

changed the description

[2020-02-07 19:10] bmyerz commented on #8
In GitLab by @bellqueen on Aug 22, 2019, 15:12

uiowa course evaluation page

[2020-02-07 19:10] bmyerz commented on #8
In GitLab by @bmyerz on Sep 19, 2019, 16:40

assigned to @JackyBreak and unassigned @bellqueen

[2020-02-07 19:10] bmyerz commented on #8
In GitLab by @JackyBreak on Sep 28, 2019, 21:08

mentioned in merge request !11

[2020-02-07 19:10] bmyerz commented on #8
In GitLab by @bellqueen on Sep 28, 2019, 21:14

mentioned in commit 8bee69284ca1fab5e2c33eb523e91ecb1a65dabf

[2020-02-07 19:10] bmyerz commented on #8
In GitLab by @bellqueen on Sep 28, 2019, 21:14

closed via merge request !11

[2020-02-07 19:10] #8 closed

[2020-02-07 19:10] bmyerz opened #9 "Rename "Project" to "Rubric""
In GitLab by @bmyerz on Aug 13, 2019, 17:40

Throughout the user interface of the application, change the word "Project" to "Rubric".

(this issue does not ask for code refactoring (e.g., changing variable names); it is purely a user interface issue)

[2020-02-07 19:10] bmyerz commented on #9
In GitLab by @bellqueen on Aug 22, 2019, 16:28

change the project into rubric in create rubric

[2020-02-07 19:11] bmyerz commented on #9
In GitLab by @bmyerz on Sep 12, 2019, 16:30

already closed in earlier merge request

[2020-02-07 19:11] bmyerz commented on #9
In GitLab by @bmyerz on Sep 12, 2019, 16:30

closed

[2020-02-07 19:11] #9 closed

[2020-02-07 19:11] bmyerz opened #10 "Send suggestions list in emails"
In GitLab by @bmyerz on Aug 13, 2019, 17:47

Currently
=========

Rubrics have two types of components: radio and checkbox. Both are visible to the instructor for evaluations and visible to students when reading their email.

Desired
=======

We want to support an extra type of component called "static". This accepts text or lists perhaps. Doesn't display to instructor in the evaluation. Only sent

[2020-02-07 19:11] bmyerz commented on #10
In GitLab by @bellqueen on Sep 18, 2019, 21:11

mentioned in merge request !8

[2020-02-07 19:11] bmyerz commented on #10
In GitLab by @bellqueen on Sep 18, 2019, 21:12

closed via merge request !8

[2020-02-07 19:11] bmyerz commented on #10
In GitLab by @bellqueen on Sep 18, 2019, 21:12

mentioned in commit 6b5f0e0324298b16ad2f966c098afb3fd2d4336f

[2020-02-07 19:11] #10 closed

[2020-02-07 19:11] bmyerz opened #11 "Ability to clear a radio selection"
In GitLab by @bmyerz on Aug 13, 2019, 17:50

Currently
=========

Radio components once clicked will be forced to select something.

Desired
=======

Be able to clear the selection. The use case is a instructor accidentally clicked a rating and might want to return to it later without confusing it with a rating that is completed.

I see two main options with different advantages and disadvantages

[2020-02-07 19:11] bmyerz commented on #11
In GitLab by @bellqueen on Aug 22, 2019, 15:10

Add a button at the top-right side of ratings div.
onclick = cleanuprating()
cleanuprating():
    for option in this.options:
         option.ckeckvalue = null.

[2020-02-07 19:11] bmyerz commented on #11
In GitLab by @bmyerz on Sep 19, 2019, 16:39

assigned to @JackyBreak and unassigned @bellqueen

[2020-02-07 19:11] bmyerz commented on #11
In GitLab by @JackyBreak on Sep 28, 2019, 21:08

mentioned in merge request !11

[2020-02-07 19:11] bmyerz commented on #11
In GitLab by @bellqueen on Sep 28, 2019, 21:14

mentioned in commit 8bee69284ca1fab5e2c33eb523e91ecb1a65dabf

[2020-02-07 19:11] bmyerz commented on #11
In GitLab by @bellqueen on Sep 28, 2019, 21:14

closed via merge request !11

[2020-02-07 19:11] #11 closed

[2020-02-07 19:11] bmyerz opened #12 ""Observable" -> "Observed""
In GitLab by @bmyerz on Aug 13, 2019, 17:54

Update existing sample rubric(s) with this spelling

[2020-02-07 19:11] bmyerz commented on #12
In GitLab by @bmyerz on Sep 12, 2019, 16:30

unassigned @bmyerz

[2020-02-07 19:11] bmyerz commented on #12
In GitLab by @bmyerz on Sep 12, 2019, 16:30

assigned to @JackyBreak

[2020-02-07 19:11] bmyerz commented on #12
In GitLab by @JackyBreak on Sep 12, 2019, 16:30

![image](/uploads/5ce32785cd0fddd40f84edc4809eaf49/image.png)

[2020-02-07 19:11] bmyerz commented on #12
In GitLab by @JackyBreak on Sep 19, 2019, 16:26

mentioned in merge request !9

[2020-02-07 19:11] bmyerz commented on #12
In GitLab by @bellqueen on Sep 19, 2019, 16:26

closed via merge request !9

[2020-02-07 19:12] bmyerz commented on #12
In GitLab by @bellqueen on Sep 19, 2019, 16:26

mentioned in commit eabf9b1204b328347e168c1cb55a8794f5ae39b8

[2020-02-07 19:12] #12 closed

[2020-02-07 19:12] bmyerz opened #13 "Clean up samples (issue includes links to source rubrics)"
In GitLab by @bmyerz on Aug 13, 2019, 17:55

Make an easy to access repository of sample group, student, rubric files

[2020-02-07 19:12] bmyerz commented on #13
In GitLab by @bmyerz on Aug 13, 2019, 17:55

changed the description

[2020-02-07 19:12] bmyerz commented on #13
In GitLab by @bmyerz on Aug 23, 2019, 08:07

Master list - bleeding edge
https://docs.google.com/document/d/1EvMExXAyqIp4VHFIEp89vAWWwznJEIHX7jYRIRqI7qU/edit?ts=5d0167a9

Snapshot on 8/23/2019
[Master_List_-_Rubric_Categories_and_Ratings.pdf](/uploads/c212cac600d21d45d964b4776737f889/Master_List_-_Rubric_Categories_and_Ratings.pdf)

[2020-02-07 19:12] bmyerz commented on #13
In GitLab by @bmyerz on Aug 23, 2019, 08:08

changed title from **Clean up samples** to **Clean up samples{+ (issue includes links to source rubrics)+}**

[2020-02-07 19:12] bmyerz commented on #13
In GitLab by @bmyerz on Sep 12, 2019, 16:26

unassigned @bmyerz

[2020-02-07 19:12] bmyerz commented on #13
In GitLab by @bmyerz on Sep 12, 2019, 16:26

assigned to @JackyBreak

[2020-02-07 19:12] bmyerz commented on #13
In GitLab by @bmyerz on Sep 12, 2019, 16:27

One thing is to change number of rating choices from old 6 to new 3. Make a json file, but keep both the 6-choice json and 3-choice.

all samples json should go in sample_file/ folder

[2020-02-07 19:12] bmyerz commented on #13
In GitLab by @JackyBreak on Sep 12, 2019, 16:28

[Master_List_-_Rubric_Categories_and_Ratings__1_.pdf](/uploads/fb273f1aa853bcd06fafcc6a3c5de844/Master_List_-_Rubric_Categories_and_Ratings__1_.pdf)

[2020-02-07 19:12] bmyerz commented on #13
In GitLab by @JackyBreak on Sep 19, 2019, 16:22

![image](/uploads/596aed0854dbf42ba59845a54e2be900/image.png)

[2020-02-07 19:12] bmyerz commented on #13
In GitLab by @JackyBreak on Sep 19, 2019, 16:26

mentioned in merge request !9

[2020-02-07 19:12] bmyerz commented on #13
In GitLab by @bellqueen on Sep 19, 2019, 16:26

mentioned in commit eabf9b1204b328347e168c1cb55a8794f5ae39b8

[2020-02-07 19:12] bmyerz commented on #13
In GitLab by @bellqueen on Sep 19, 2019, 16:26

closed via merge request !9

[2020-02-07 19:12] #13 closed

[2020-02-07 19:12] bmyerz opened #14 "Sample with suggestions as checkboxes"
In GitLab by @bmyerz on Aug 13, 2019, 17:56

Create versions of the rubrics where the suggestion lists are included as checkboxes and sending email suggestions

[2020-02-07 19:12] bmyerz commented on #14
In GitLab by @bellqueen on Aug 22, 2019, 15:06

change the type of 'suggestions' in TW.Json

[2020-02-07 19:12] bmyerz commented on #14
In GitLab by @bmyerz on Sep 12, 2019, 16:35

assigned to @JackyBreak and unassigned @bmyerz

[2020-02-07 19:12] bmyerz commented on #14
In GitLab by @bmyerz on Sep 12, 2019, 16:37

wait until #21 because this has to do with being able to email "text" category from the json

[2020-02-07 19:12] bmyerz commented on #14
In GitLab by @bmyerz on Sep 12, 2019, 16:40

changed the description

[2020-02-07 19:13] bmyerz commented on #14
In GitLab by @bellqueen on Sep 19, 2019, 16:40

mentioned in merge request !10

[2020-02-07 19:13] bmyerz commented on #14
In GitLab by @bellqueen on Sep 28, 2019, 20:55

closed via merge request !10

[2020-02-07 19:13] bmyerz commented on #14
In GitLab by @bellqueen on Sep 28, 2019, 20:55

mentioned in commit 6b5dc2782fcf817006030fb32f94b899d7ccdc98

[2020-02-07 19:13] #14 closed

[2020-02-07 19:13] bmyerz opened #15 "Review entire site for wording clarifications"
In GitLab by @bmyerz on Aug 13, 2019, 17:58

[2020-02-07 19:13] bmyerz commented on #15
In GitLab by @bmyerz on Aug 13, 2019, 17:58

changed title from **Review site for wording clarifications** to **Review {+entire +}site for wording clarifications**

[2020-02-07 19:13] bmyerz commented on #15
In GitLab by @bellqueen on Aug 22, 2019, 16:48

#9

[2020-02-07 19:13] bmyerz commented on #15
In GitLab by @bellqueen on Sep 5, 2019, 16:44

1. create new rubric (instructions for creating new rubric)
2. create new evaluation (null -> blank) (bold issue)
3. grading in evaluation (add contact -> blank grade)
4. grading form

[2020-02-07 19:13] bmyerz commented on #15
In GitLab by @JackyBreak on Sep 12, 2019, 14:02

mentioned in merge request !4

[2020-02-07 19:13] bmyerz commented on #15
In GitLab by @bellqueen on Sep 12, 2019, 15:43

closed via merge request !4

[2020-02-07 19:13] bmyerz commented on #15
In GitLab by @bellqueen on Sep 12, 2019, 15:43

mentioned in commit fb10bfa32dfdc38b65d19fadb0ba134658eaaa10

[2020-02-07 19:13] #15 closed

[2020-02-07 19:13] bmyerz opened #16 "Include rating descriptions"
In GitLab by @bmyerz on Aug 13, 2019, 18:01

Currently
=========

The ratings shows just scores title and number.

![image](/uploads/5c96f31e31d1c10162341a65e7aa9e52/image.png)

This is good and clean because it follows a prior feedback from users to make it easily readable.

Desired
=======

However, somehow we need to fit in the full definition for the criteria so that it reminds the instructor/

[2020-02-07 19:13] bmyerz commented on #16
In GitLab by @bmyerz on Aug 13, 2019, 18:03

changed the description

[2020-02-07 19:13] bmyerz commented on #16
In GitLab by @bmyerz on Aug 13, 2019, 18:03

changed the description

[2020-02-07 19:13] bmyerz commented on #16
In GitLab by @bellqueen on Aug 22, 2019, 15:05

Need new rubric excel

[2020-02-07 19:13] bmyerz commented on #16
In GitLab by @bmyerz on Sep 12, 2019, 16:21

On the new rubrics there is just one line describing the criteria. We should put it under the title

[2020-02-07 19:13] bmyerz commented on #16
In GitLab by @JackyBreak on Sep 12, 2019, 16:22

[Master_List_-_Rubric_Categories_and_Ratings__1_.pdf](/uploads/179125e7772157021d562033fd71d023/Master_List_-_Rubric_Categories_and_Ratings__1_.pdf)

[2020-02-07 19:13] bmyerz commented on #16
In GitLab by @JackyBreak on Sep 12, 2019, 16:23

![image](/uploads/e24b8590657912dd818cae1c7a885c83/image.png)

[2020-02-07 19:13] bmyerz commented on #16
In GitLab by @JackyBreak on Sep 12, 2019, 16:24

![image](/uploads/0122260f0a9bcbd3ed8a176698a1c3b2/image.png)

[2020-02-07 19:13] bmyerz commented on #16
In GitLab by @bmyerz on Sep 12, 2019, 16:24

unassigned @bellqueen

[2020-02-07 19:14] bmyerz commented on #16
In GitLab by @bmyerz on Sep 12, 2019, 16:24

assigned to @JackyBreak

[2020-02-07 19:14] bmyerz commented on #16
In GitLab by @JackyBreak on Sep 19, 2019, 16:21

![image](/uploads/6e4238e85e236133710c0d8189925172/image.png)

[2020-02-07 19:14] bmyerz commented on #16
In GitLab by @JackyBreak on Sep 19, 2019, 16:26

mentioned in merge request !9

[2020-02-07 19:14] bmyerz commented on #16
In GitLab by @bellqueen on Sep 19, 2019, 16:26

mentioned in commit eabf9b1204b328347e168c1cb55a8794f5ae39b8

[2020-02-07 19:14] bmyerz commented on #16
In GitLab by @bellqueen on Sep 19, 2019, 16:26

closed via merge request !9

[2020-02-07 19:14] #16 closed

[2020-02-07 19:14] bmyerz opened #17 "Remove letters from displaying on checkboxes"
In GitLab by @bmyerz on Aug 13, 2019, 18:04

Checkboxes include both the description and the "name", which in our rubrics is "a" "b" "c"...
Remove the "name" part from the user interface. Instructors do not need to see those letters - it is a internal detail.

[2020-02-07 19:14] bmyerz commented on #17
In GitLab by @bmyerz on Aug 15, 2019, 13:23

removed milestone

[2020-02-07 19:14] bmyerz commented on #17
In GitLab by @bellqueen on Sep 12, 2019, 16:10

@JackyBreak

[2020-02-07 19:14] bmyerz commented on #17
In GitLab by @bmyerz on Sep 19, 2019, 16:39

fixed in !9

[2020-02-07 19:14] bmyerz commented on #17
In GitLab by @bmyerz on Sep 19, 2019, 16:39

closed

[2020-02-07 19:14] #17 closed

[2020-02-07 19:14] bmyerz opened #18 "TA vs Instructor privileges"
In GitLab by @bmyerz on Aug 15, 2019, 13:00

The users do want permissions to be different between instructor and TA.

Instructor (ie, right now the person who creates the Project and invites others)
- only one who can delete project and evaluations
- only one who can send feedback to students
(don't want accidental overwrites)

In general, no need to overwrite another person's evaluations. Only o

[2020-02-07 19:14] bmyerz commented on #18
In GitLab by @bmyerz on Feb 6, 2020, 13:54

Probably we don't need different kinds of account roles, just that the person who creates the project has role "instructor" and whoever they share it to is a "TA"
#56

[2020-02-07 19:14] bmyerz opened #19 "Show progress through rating with simple labels"
In GitLab by @bmyerz on Aug 15, 2019, 13:03

To give a visual indicator of progress, label the sequence of Categories (ie Interacting, Contributing, ...) with letters A, B, C...
For example
A. Interacting
       ...
B. Contributing
       ...
C...

[2020-02-07 19:14] bmyerz commented on #19
In GitLab by @bmyerz on Sep 12, 2019, 16:18

unassigned @bellqueen

[2020-02-07 19:14] bmyerz commented on #19
In GitLab by @bmyerz on Sep 12, 2019, 16:18

assigned to @JackyBreak

[2020-02-07 19:14] bmyerz commented on #19
In GitLab by @JackyBreak on Sep 19, 2019, 16:20

![image](/uploads/1c9b02f013272f34a962aa9e963e6129/image.png)

[2020-02-07 19:14] bmyerz commented on #19
In GitLab by @JackyBreak on Sep 19, 2019, 16:26

mentioned in merge request !9

[2020-02-07 19:14] bmyerz commented on #19
In GitLab by @bellqueen on Sep 19, 2019, 16:26

closed via merge request !9

[2020-02-07 19:14] bmyerz commented on #19
In GitLab by @bellqueen on Sep 19, 2019, 16:26

mentioned in commit eabf9b1204b328347e168c1cb55a8794f5ae39b8

[2020-02-07 19:15] #19 closed

[2020-02-07 19:15] bmyerz opened #20 "Be able to run from a linux server just with local forwarding"
In GitLab by @bmyerz on Aug 15, 2019, 13:37

this is a prerequisite to #3

[2020-02-07 19:15] bmyerz commented on #20
In GitLab by @bmyerz on Aug 15, 2019, 13:41

mentioned in merge request bdmyers/edusample!1

[2020-02-07 19:15] bmyerz commented on #20
In GitLab by @bmyerz on Aug 15, 2019, 13:45

closed via merge request bdmyers/edusample!1

[2020-02-07 19:15] bmyerz commented on #20
In GitLab by @bmyerz on Aug 15, 2019, 13:45

mentioned in commit bdmyers/edusample@8a7f983dc4381cb9084290f119ea0d8d9d48887a

[2020-02-07 19:15] bmyerz commented on #20
In GitLab by @bmyerz on Aug 15, 2019, 13:49

reopened

[2020-02-07 19:15] bmyerz commented on #20
In GitLab by @bmyerz on Aug 15, 2019, 13:50

mentioned in merge request !1

[2020-02-07 19:15] bmyerz commented on #20
In GitLab by @bmyerz on Aug 15, 2019, 14:02

closed via merge request !1

[2020-02-07 19:15] bmyerz commented on #20
In GitLab by @bmyerz on Aug 15, 2019, 14:02

mentioned in commit bacfd37b5ca8e2001ee4658a2bf533f204b72285

[2020-02-07 19:15] #20 closed

[2020-02-07 19:15] bmyerz opened #21 "Download and Email"
In GitLab by @bellqueen on Aug 22, 2019, 15:27

Download as pdf file or email out pdf file.

Transform from html to pdf:
http://www.blog.pythonlibrary.org/2018/06/05/creating-pdfs-with-pyfpdf-and-python/

Options:
1) send out one grade
2) send out merged grade

[2020-02-07 19:15] bmyerz commented on #21
In GitLab by @bmyerz on Aug 23, 2019, 08:00

changed title from **Download and Emal** to **Download and Ema{+i+}l**

[2020-02-07 19:15] bmyerz commented on #21
In GitLab by @JackyBreak on Sep 12, 2019, 16:40

![image](/uploads/e3d2e19769c2c59be68bff48a5bf382c/image.png)

[2020-02-07 19:15] bmyerz commented on #21
In GitLab by @bmyerz on Oct 3, 2019, 17:13

@bellqueen can we close this issue now?

[2020-02-07 19:15] bmyerz commented on #21
In GitLab by @bmyerz on Feb 6, 2020, 13:52

tracking in #55

[2020-02-07 19:15] bmyerz commented on #21
In GitLab by @bmyerz on Feb 6, 2020, 13:52

closed

[2020-02-07 19:15] #21 closed

[2020-02-07 19:15] bmyerz opened #22 "Account css"
In GitLab by @bellqueen on Aug 22, 2019, 15:30

Sample css form:
https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_cv&stacked=h

Including
1）change Avatar
2) change location(university), personal description, job
3) showing up projects ?

[2020-02-07 19:15] bmyerz commented on #22
In GitLab by @bmyerz on Aug 23, 2019, 08:00

changed title from **Accout css** to **Accou{+n+}t css**

[2020-02-07 19:15] bmyerz commented on #22
In GitLab by @bmyerz on Aug 23, 2019, 08:01

Let's prioritize core functionality first

[2020-02-07 19:15] bmyerz commented on #22
In GitLab by @bmyerz on Feb 6, 2020, 13:51

This is low priority feature - focusing on core functionality

[2020-02-07 19:16] bmyerz commented on #22
In GitLab by @bmyerz on Feb 6, 2020, 13:51

closed

[2020-02-07 19:16] #22 closed

[2020-02-07 19:16] bmyerz opened #23 "Uncaught error when creating duplicated name Evaluation"
In GitLab by @bmyerz on Aug 22, 2019, 16:30

Reproduce by creating two Evals in a Rubric of same name

sqlalchemy.exc.IntegrityError

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: evaluation.eva_name, evaluation.project_name, evaluation.project_owner
[SQL: INSERT INTO evaluation (eva_name, project_name, project_owner, owner, description, last_edit) VALUES (?, ?, ?, ?, ?, ?)]
[

[2020-02-07 19:16] bmyerz commented on #23
In GitLab by @bellqueen on Sep 28, 2019, 23:53

mentioned in merge request !12

[2020-02-07 19:16] bmyerz commented on #23
In GitLab by @bellqueen on Sep 28, 2019, 23:53

closed via merge request !12

[2020-02-07 19:16] bmyerz commented on #23
In GitLab by @bellqueen on Sep 28, 2019, 23:53

mentioned in commit 804cc1b5a2433a2bac8eafa88e9810ea6d2547eb

[2020-02-07 19:16] #23 closed

[2020-02-07 19:16] bmyerz opened #24 "Testing the reliability of recovering from errors due to incorrect files uploaded OR invalid text entry"
In GitLab by @bmyerz on Aug 22, 2019, 16:58

[2020-02-07 19:16] bmyerz commented on #24
In GitLab by @bmyerz on Aug 22, 2019, 16:59

please log what works and doesn't work here

[2020-02-07 19:16] bmyerz commented on #24
In GitLab by @bmyerz on Sep 12, 2019, 16:14

changed title from **Testing the reliability of recovering from errors due to incorrect files uploaded** to **Testing the reliability of recovering from errors due to incorrect files uploaded{+ OR invalid text entry+}**

[2020-02-07 19:16] bmyerz commented on #24
In GitLab by @bellqueen on Sep 12, 2019, 16:24

1. project name
2. evaluation name
3. account name when sign up(check)
4. email(check)
4. permission duplicate
5. group file
6. students file, find students email matching email in group
7. load evaluation, load project in case the evaluation and project exist in db but not exist in the directory

[2020-02-07 19:16] bmyerz opened #25 "Add Selenium testing"
In GitLab by @bmyerz on Aug 23, 2019, 08:03

https://www.seleniumhq.org/

Cover basic usage scenarios
- create new account
- create new Rubric
- create new Eval
- make an evaluation
- re-open an evaluation
- download a report

[2020-02-07 19:16] bmyerz opened #26 "testing on PythonAnywhere"
In GitLab by @bellqueen on Oct 1, 2019, 16:56

Menu page is hidden behind evaluation page when the grade is given.

redundant send email button in PROFILE page

[2020-02-07 19:16] bmyerz commented on #26
In GitLab by @bmyerz on Oct 3, 2019, 17:17

@bellqueen is this duplicate with #27 and #34 ?

[2020-02-07 19:16] bmyerz commented on #26
In GitLab by @bmyerz on Feb 6, 2020, 13:50

no longer relevant now that we are running on production server

[2020-02-07 19:16] bmyerz commented on #26
In GitLab by @bmyerz on Feb 6, 2020, 13:50

closed

[2020-02-07 19:16] #26 closed

[2020-02-07 19:16] bmyerz opened #27 "Drop down menu was blocked by radio blocks"
In GitLab by @JackyBreak on Oct 1, 2019, 21:37

![image](/uploads/293eb5345d27e40d2608d0cf6c98a018/image.png)

[2020-02-07 19:16] bmyerz commented on #27
In GitLab by @JackyBreak on Oct 8, 2019, 21:39

mentioned in merge request !14

[2020-02-07 19:16] bmyerz commented on #27
In GitLab by @bellqueen on Oct 11, 2019, 11:22

closed via merge request !14

[2020-02-07 19:16] bmyerz commented on #27
In GitLab by @bellqueen on Oct 11, 2019, 11:22

mentioned in commit 95167f617c4f86ce1deb7909d0001184ec0e8c3c

[2020-02-07 19:17] #27 closed

[2020-02-07 19:17] bmyerz opened #28 "Change login from "username" to just your email address"
In GitLab by @bmyerz on Oct 3, 2019, 15:51

Should include validation that it is format of an email address.

[2020-02-07 19:17] bmyerz opened #29 "Replace Evaluation toolbox arrow with word "Tools""
In GitLab by @bmyerz on Oct 3, 2019, 15:52

[2020-02-07 19:17] bmyerz commented on #29
In GitLab by @bmyerz on Oct 3, 2019, 15:55

![image](/uploads/52b22baaeba643069fc9d1f6bc395209/image.png)

[2020-02-07 19:17] bmyerz commented on #29
In GitLab by @greynders on Oct 4, 2019, 08:39

I was thinking that this could be called "Student Groups" if it's only used to switch between groups. Are there other uses for it?

[2020-02-07 19:17] bmyerz commented on #29
In GitLab by @JackyBreak on Oct 16, 2019, 00:14

assigned to @JackyBreak

[2020-02-07 19:17] bmyerz commented on #29
In GitLab by @JackyBreak on Oct 16, 2019, 17:52

mentioned in merge request !15

[2020-02-07 19:17] bmyerz commented on #29
In GitLab by @bellqueen on Oct 17, 2019, 00:14

closed via merge request !15

[2020-02-07 19:17] bmyerz commented on #29
In GitLab by @bellqueen on Oct 17, 2019, 00:14

mentioned in commit e23c6bb9cfc91ccb51d2a84ceb97e1d383343936

[2020-02-07 19:17] #29 closed

[2020-02-07 19:17] bmyerz opened #30 "Evaluation page needs indication of which group is being graded"
In GitLab by @bmyerz on Oct 3, 2019, 15:53

[2020-02-07 19:17] bmyerz commented on #30
In GitLab by @bmyerz on Oct 3, 2019, 15:55

![image](/uploads/df3d6153ad22764d97f7ec80e41f1aea/image.png)

Notice there is no title of which group you are grading

[2020-02-07 19:17] bmyerz commented on #30
In GitLab by @JackyBreak on Oct 4, 2019, 21:30

assigned to @JackyBreak

[2020-02-07 19:17] bmyerz commented on #30
In GitLab by @JackyBreak on Oct 8, 2019, 21:39

mentioned in merge request !14

[2020-02-07 19:17] bmyerz commented on #30
In GitLab by @bellqueen on Oct 11, 2019, 11:22

mentioned in commit 95167f617c4f86ce1deb7909d0001184ec0e8c3c

[2020-02-07 19:17] bmyerz commented on #30
In GitLab by @bellqueen on Oct 11, 2019, 11:22

closed via merge request !14

[2020-02-07 19:17] #30 closed

[2020-02-07 19:17] bmyerz opened #31 "A way to edit a Project to add new students/groups"
In GitLab by @bmyerz on Oct 3, 2019, 15:57

Questions / suggestions
* Maybe re-upload the students file to make the changes (can detect differences)?
* what do we do about the other tables that use groups/students as foreign keys?

[2020-02-07 19:17] bmyerz commented on #31
In GitLab by @bmyerz on Oct 3, 2019, 15:58

changed the description

[2020-02-07 19:17] bmyerz commented on #31
In GitLab by @bmyerz on Oct 3, 2019, 15:59

changed the description

[2020-02-07 19:17] bmyerz opened #32 "Evaluation starts with categories open by default AND make closing easier"
In GitLab by @bmyerz on Oct 3, 2019, 16:02

When you open a new group evaluation, you see the categories closed by default.
![image](/uploads/b4a0baf9fb0b7a7093c794cbec878e8e/image.png)

Users would like them to be open by default.

Users are also confused about how to close them. We can keep the bottom closing arrow but perhaps we can also allow clicking the top arrow button closes, too.

![image

[2020-02-07 19:18] bmyerz commented on #32
In GitLab by @JackyBreak on Oct 6, 2019, 13:07

assigned to @JackyBreak

[2020-02-07 19:18] bmyerz commented on #32
In GitLab by @JackyBreak on Oct 8, 2019, 21:39

mentioned in merge request !14

[2020-02-07 19:18] bmyerz commented on #32
In GitLab by @bellqueen on Oct 11, 2019, 11:22

mentioned in commit 95167f617c4f86ce1deb7909d0001184ec0e8c3c

[2020-02-07 19:18] bmyerz commented on #32
In GitLab by @bellqueen on Oct 11, 2019, 11:22

closed via merge request !14

[2020-02-07 19:18] #32 closed

[2020-02-07 19:18] bmyerz opened #33 "Indication of grader finished a Criteria"
In GitLab by @bmyerz on Oct 3, 2019, 16:13

Users would like the Criteria title bar to have some indication of completedness.

![image](/uploads/e91b0c251b00276134c0e0d09d5c0a12/image.png)

During our 10/3/19 meeting, we discussed perhaps the best indication is showing in the Critera title bar whether it has been rated and how many observed characteristics were picked.

For example this one would

[2020-02-07 19:18] bmyerz commented on #33
In GitLab by @bmyerz on Oct 3, 2019, 17:15

changed title from **Indication of completed {-category-}** to **Indication of completed {+Criteria+}**

[2020-02-07 19:18] bmyerz commented on #33
In GitLab by @bmyerz on Oct 3, 2019, 17:16

changed title from **Indication of {-completed-} Criteria** to **Indication of {+grader finished a+} Criteria**

[2020-02-07 19:18] bmyerz commented on #33
In GitLab by @JackyBreak on Oct 16, 2019, 00:14

assigned to @JackyBreak

[2020-02-07 19:18] bmyerz commented on #33
In GitLab by @JackyBreak on Oct 16, 2019, 17:52

mentioned in merge request !15

[2020-02-07 19:18] bmyerz commented on #33
In GitLab by @JackyBreak on Oct 17, 2019, 16:09

closed

[2020-02-07 19:18] #33 closed

[2020-02-07 19:18] bmyerz opened #34 "Remove old Grade tab and move the Download button to Profile (like the email button)"
In GitLab by @bmyerz on Oct 3, 2019, 16:19

This tab is from an older version

![image](/uploads/7e09bb0e4b898ad82f3cbd1567cafc19/image.png)

We need to remove it and also add the Download button to

![image](/uploads/424850b46a2186a136c7370a08c3dd2a/image.png)

[2020-02-07 19:18] bmyerz commented on #34
In GitLab by @JackyBreak on Oct 16, 2019, 00:14

assigned to @JackyBreak

[2020-02-07 19:18] bmyerz commented on #34
In GitLab by @JackyBreak on Oct 16, 2019, 17:52

mentioned in merge request !15

[2020-02-07 19:18] bmyerz commented on #34
In GitLab by @bellqueen on Oct 17, 2019, 01:27

mentioned in merge request !16

[2020-02-07 19:18] bmyerz commented on #34
In GitLab by @bellqueen on Oct 17, 2019, 01:30

mentioned in merge request !17

[2020-02-07 19:18] bmyerz commented on #34
In GitLab by @bellqueen on Oct 17, 2019, 01:30

mentioned in commit a0d7c04e6cc9fab443c92e6f1ee30f4167225936

[2020-02-07 19:18] bmyerz commented on #34
In GitLab by @bellqueen on Oct 17, 2019, 01:30

closed via merge request !17

[2020-02-07 19:18] #34 closed

[2020-02-07 19:18] bmyerz opened #35 ""Meta-groups" so that TAs can view only a subset of groups"
In GitLab by @bmyerz on Oct 3, 2019, 16:28

Some users have as many as 50 different groups. They want it to be easy for a TA to view only their assigned groups. This is a view issue only and should not be related to permissions. The reason is that when a TA is absent, another TA needs to easily rate those groups, too. Therefore, this meta-group feature should feel like a folder. Users also want th

[2020-02-07 19:19] bmyerz commented on #35
In GitLab by @bmyerz on Oct 3, 2019, 16:28

changed the description

[2020-02-07 19:19] bmyerz commented on #35
In GitLab by @bmyerz on Oct 11, 2019, 11:11

assigned to @bellqueen

[2020-02-07 19:19] bmyerz commented on #35
In GitLab by @bmyerz on Oct 11, 2019, 11:20

changed the description

[2020-02-07 19:19] bmyerz commented on #35
In GitLab by @bellqueen on Oct 17, 2019, 01:28

mentioned in merge request !16

[2020-02-07 19:19] bmyerz commented on #35
In GitLab by @bellqueen on Oct 17, 2019, 01:30

mentioned in merge request !17

[2020-02-07 19:19] bmyerz commented on #35
In GitLab by @bellqueen on Oct 17, 2019, 01:30

mentioned in commit a0d7c04e6cc9fab443c92e6f1ee30f4167225936

[2020-02-07 19:19] bmyerz commented on #35
In GitLab by @bellqueen on Oct 17, 2019, 01:30

closed via merge request !17

[2020-02-07 19:19] #35 closed

[2020-02-07 19:19] bmyerz opened #36 "Update classlist sample to have only the required columns"
In GitLab by @bmyerz on Oct 3, 2019, 16:32

https://research-git.uiowa.edu/sotl-tech/edusample/blob/master/sample_file/class_list_CS_3990_5969_20191__1____new.xlsx

[2020-02-07 19:19] bmyerz commented on #36
In GitLab by @bmyerz on Feb 6, 2020, 13:55

tracking in #62

[2020-02-07 19:19] bmyerz commented on #36
In GitLab by @bmyerz on Feb 6, 2020, 13:55

closed

[2020-02-07 19:19] #36 closed

[2020-02-07 19:19] bmyerz opened #37 "Test to see if non-numeric group names work"
In GitLab by @bmyerz on Oct 3, 2019, 16:35

Users would like alphanumeric group names like "Helium" "Argon" etc. not just numbers.

If alphanumeric group names are found to work: close this issue.

Or, if they do not work: rename and re-label this issue as Enhancement

[2020-02-07 19:19] bmyerz commented on #37
In GitLab by @bmyerz on Oct 3, 2019, 17:18

changed the description

[2020-02-07 19:19] bmyerz commented on #37
In GitLab by @bmyerz on Oct 3, 2019, 17:18

changed the description

[2020-02-07 19:19] bmyerz commented on #37
In GitLab by @JackyBreak on Oct 6, 2019, 12:33

![image](/uploads/5b80e24a5eec4c35be0c900f9b0c9800/image.png)
![image](/uploads/a3a08e0634d4d8db8505260ac432a816/image.png)
It works fine with words and alphanumeric names, however, it doesn't work with punctuation, for instance, "Group oxygen123.?" in the example above, after choosing that group, it jumps to an error page.
![image](/uploads/e68f8c8d

[2020-02-07 19:19] bmyerz commented on #37
In GitLab by @bmyerz on Oct 11, 2019, 11:36

@JackyBreak Let's fix this by adding validation to the group upload to make sure groups do not have punctuation only [a-zA-Z0-9]

[2020-02-07 19:19] bmyerz commented on #37
In GitLab by @bmyerz on Feb 6, 2020, 13:49

repeated in #58

[2020-02-07 19:19] bmyerz commented on #37
In GitLab by @bmyerz on Feb 6, 2020, 13:49

closed

[2020-02-07 19:19] #37 closed

[2020-02-07 19:19] bmyerz opened #38 "Make Email command work in Pythonanywhere"
In GitLab by @bmyerz on Oct 3, 2019, 16:37

Once we get our permanent server, if this issue is still open, then make it work there.

[2020-02-07 19:20] bmyerz commented on #38
In GitLab by @bmyerz on Oct 11, 2019, 11:10

not worth the effort because no smtp support for free users

https://help.pythonanywhere.com/pages/SMTPForFreeUsers/

[2020-02-07 19:20] bmyerz commented on #38
In GitLab by @bmyerz on Oct 11, 2019, 11:10

closed

[2020-02-07 19:20] #38 closed

[2020-02-07 19:20] bmyerz opened #39 "Rendering after clicking the "create new permission button" crashes"
In GitLab by @bmyerz on Oct 3, 2019, 16:41

Clicking on
![image](/uploads/c4478d0559086f5699020a42ddf62b6f/image.png)

gives a server error

![image](/uploads/ee15d47193279b00883a37e48ba752f3/image.png)

however, the added permissions still succeeds in the database. Then, rendering bug after database changed?

[2020-02-07 19:20] bmyerz opened #40 "Test what it looks like (still usable?) when toolbox has many groups"
In GitLab by @bmyerz on Oct 3, 2019, 16:46

Made somewhat better by adding feature #35 however, we should see if even a medium number like 12-20 groups still looks okay and usable.

[2020-02-07 19:20] bmyerz commented on #40
In GitLab by @bmyerz on Oct 3, 2019, 16:46

Please add screenshots here of how it looks

[2020-02-07 19:20] bmyerz commented on #40
In GitLab by @JackyBreak on Oct 6, 2019, 12:37

![image](/uploads/89b419d36088346a702c968aed93bb40/image.png)

Only some of the groups are shown in the tool box, tested with total 26 groups, maybe we can change the display to a tiny drop down menu?

[2020-02-07 19:20] bmyerz commented on #40
In GitLab by @bmyerz on Oct 11, 2019, 11:29

@JackyBreak The dropdown inside of the toolbox sounds like a possibility to try.

![image](/uploads/9cfb93009c0cd5254cadadfbf0a4217e/image.png)

Another possibility we discussed in 10/11 meeting is making the toolbox wider so we can fit groups both across and down

[2020-02-07 19:20] bmyerz commented on #40
In GitLab by @JackyBreak on Oct 16, 2019, 00:14

assigned to @JackyBreak

[2020-02-07 19:20] bmyerz commented on #40
In GitLab by @JackyBreak on Oct 16, 2019, 17:52

mentioned in merge request !15

[2020-02-07 19:20] bmyerz commented on #40
In GitLab by @bellqueen on Oct 17, 2019, 01:27

mentioned in merge request !16

[2020-02-07 19:20] bmyerz commented on #40
In GitLab by @bellqueen on Oct 17, 2019, 01:30

mentioned in merge request !17

[2020-02-07 19:20] bmyerz commented on #40
In GitLab by @bellqueen on Oct 17, 2019, 01:30

mentioned in commit a0d7c04e6cc9fab443c92e6f1ee30f4167225936

[2020-02-07 19:20] bmyerz commented on #40
In GitLab by @bellqueen on Oct 17, 2019, 01:30

closed via merge request !17

[2020-02-07 19:20] #40 closed

[2020-02-07 19:20] bmyerz opened #41 "Remove "select grader" tab"
In GitLab by @greynders on Oct 4, 2019, 08:44

When you use the tool box to switch between groups, it first takes you to the "select grader" tab, then you have to click "grade by [greynders]" to grade the groups. Is there a way to default it to go to whoever is logged in or to the first grader available? The "select grader" screen just seems to add an unnecessary step.

[2020-02-07 19:20] bmyerz commented on #41
In GitLab by @bmyerz on Oct 11, 2019, 11:09

![image](/uploads/9e5be131fcd17fa8f09a534ee87fcaf0/image.png)

So remove this left-most tab

[2020-02-07 19:20] bmyerz commented on #41
In GitLab by @bellqueen on Oct 17, 2019, 01:27

mentioned in merge request !16

[2020-02-07 19:20] bmyerz commented on #41
In GitLab by @bellqueen on Oct 17, 2019, 01:30

mentioned in merge request !17

[2020-02-07 19:20] bmyerz commented on #41
In GitLab by @bellqueen on Oct 17, 2019, 01:30

closed via merge request !17

[2020-02-07 19:20] bmyerz commented on #41
In GitLab by @bellqueen on Oct 17, 2019, 01:30

mentioned in commit a0d7c04e6cc9fab443c92e6f1ee30f4167225936

[2020-02-07 19:21] #41 closed

[2020-02-07 19:21] bmyerz opened #42 "Scores on Radio Buttons for Grading"
In GitLab by @greynders on Oct 4, 2019, 08:53

Each category should have six radio buttons for scores zero through five. Each button should have a number, and buttons 1, 3, and 5 should have the one-word descriptors likes "rarely" or "sometimes." Ideally the numbers 0-5 are all horizontally aligned with one another and centered in the box. The descriptor words should be in a line below the numbers

[2020-02-07 19:21] bmyerz commented on #42
In GitLab by @greynders on Oct 4, 2019, 08:54

changed the description

[2020-02-07 19:21] bmyerz commented on #42
In GitLab by @bmyerz on Oct 8, 2019, 20:50

changed title from **Radio Buttons for Grading** to **{+Scores on +}Radio Buttons for Grading**

[2020-02-07 19:21] bmyerz commented on #42
In GitLab by @bmyerz on Oct 11, 2019, 11:08

assigned to @JackyBreak

[2020-02-07 19:21] bmyerz commented on #42
In GitLab by @bmyerz on Oct 17, 2019, 16:10

@greynders discussed in our 10/17 developer meeting. We think it would be best to make this configurable, since there seems to not agreement among users on preference.

will be tracked in issue #46

[2020-02-07 19:21] bmyerz commented on #42
In GitLab by @JackyBreak on Oct 25, 2019, 12:09

![image](/uploads/71a3f7243bce53809083037d4447c298/image.png)
Not hide score

![image](/uploads/9139aa8c1acfa2ca0be758b02c9227a3/image.png)
hide score

[2020-02-07 19:21] bmyerz commented on #42
In GitLab by @bmyerz on Feb 6, 2020, 13:48

This is in master as of sometime around @JackyBreak's post. closing

[2020-02-07 19:21] bmyerz commented on #42
In GitLab by @bmyerz on Feb 6, 2020, 13:48

closed

[2020-02-07 19:21] #42 closed

[2020-02-07 19:21] bmyerz opened #43 "Production server deployment"
In GitLab by @bmyerz on Oct 8, 2019, 20:52

In order to deploy to the Iowa server, we need to support a MySQL backend. This should be relatively easy to support since we use SQLAlchemy, which supports different types of backends.

The result of this issue should be a way to run the app using either a MySQL or a sqlite backend. That will ensure both robust deployment (mysql) and easy testing (sqlit

[2020-02-07 19:21] bmyerz commented on #43
In GitLab by @bmyerz on Oct 30, 2019, 13:07

assigned to @bmyerz

[2020-02-07 19:21] bmyerz commented on #43
In GitLab by @bmyerz on Oct 30, 2019, 13:07

changed title from **{-support for MySQL-}** to **{+Production server deployment+}**

[2020-02-07 19:21] bmyerz commented on #43
In GitLab by @bmyerz on Oct 30, 2019, 13:07

changed the description

[2020-02-07 19:21] bmyerz commented on #43
In GitLab by @bmyerz on Oct 30, 2019, 13:08

This issue now tracks all initial deployment issues. See branch https://research-git.uiowa.edu/sotl-tech/edusample/tree/rubric-cs-uiowa-edu-deployment

[2020-02-07 19:21] bmyerz commented on #43
In GitLab by @bmyerz on Oct 30, 2019, 13:09

url rubric.cs.uiowa.edu

Current issue waiting on divms: the user for webserver is not allowed access to make directories
Permission denied: '/var/www/wsgi-scripts/rubric/bdmyers'

[2020-02-07 19:21] bmyerz commented on #43
In GitLab by @bmyerz on Feb 6, 2020, 13:43

was completed around fa030489

[2020-02-07 19:21] bmyerz commented on #43
In GitLab by @bmyerz on Feb 6, 2020, 13:43

closed

[2020-02-07 19:21] #43 closed

[2020-02-07 19:21] bmyerz opened #44 "Remove the Group select page (to reduce clicks)"
In GitLab by @bmyerz on Oct 11, 2019, 11:18

![image](/uploads/30d8791bb0bd4ff9be4044b54638a8f0/image.png)

http://runqzhao.pythonanywhere.com/evaluation_jump_tool/runqzhao2runqzhao2Tuesdayfull/eva1/Connect%20Successfully

This page is deemed unnecessary since we can already select group from the toolbox on the rubric grading page.

[2020-02-07 19:21] bmyerz commented on #44
In GitLab by @bellqueen on Oct 17, 2019, 01:27

mentioned in merge request !16

[2020-02-07 19:22] bmyerz commented on #44
In GitLab by @bellqueen on Oct 17, 2019, 01:30

mentioned in merge request !17

[2020-02-07 19:22] bmyerz commented on #44
In GitLab by @bellqueen on Oct 17, 2019, 01:30

mentioned in commit a0d7c04e6cc9fab443c92e6f1ee30f4167225936

[2020-02-07 19:22] bmyerz commented on #44
In GitLab by @bellqueen on Oct 17, 2019, 01:30

closed via merge request !17

[2020-02-07 19:22] #44 closed

[2020-02-07 19:22] bmyerz opened #45 "A way to edit the rating data using download/upload"
In GitLab by @bmyerz on Oct 11, 2019, 11:52

Users would like to download the data, edit spreadsheet, and re-upload. The key challenge here is how to perform validation of the uploaded data and display differences for the user to confirm. We do not want uploads to corrupt the database.

Related to #31, which is also about modifying the database (likely through re-upload)

[2020-02-07 19:22] bmyerz commented on #45
In GitLab by @bmyerz on Oct 11, 2019, 11:55

Right now I would recommend the user does it this way...
1. Download the data and bring it up in Excel
2. look for errors you want to fix
3. Find the group in the ratings page of the web app and make the changes there.

i.e., no upload to change the data in batch

We can revisit if batch (as opposed to individual) changes to student feedback are really

[2020-02-07 19:22] bmyerz opened #46 "JSON support a showName attribute"
In GitLab by @bmyerz on Oct 17, 2019, 16:10

see #42

[2020-02-07 19:22] bmyerz commented on #46
In GitLab by @bmyerz on Oct 25, 2019, 12:08

will postpone making a decision on this change to the JSON until we get user feedback on the result of #42

[2020-02-07 19:22] bmyerz commented on #46
In GitLab by @bmyerz on Feb 6, 2020, 13:48

superseded by #42

[2020-02-07 19:22] bmyerz commented on #46
In GitLab by @bmyerz on Feb 6, 2020, 13:48

closed

[2020-02-07 19:22] #46 closed

[2020-02-07 19:22] bmyerz opened #47 "Create Blank Grading tab in evaluation page"
In GitLab by @JackyBreak on Oct 17, 2019, 16:27

![image](/uploads/f47dcc5619b67fd98f075605687e86b9/image.png)
By clicking "+blank grade", it yields a new tab with old style.

[2020-02-07 19:22] bmyerz opened #48 "Notifications- Remove the spreadsheet and only display which groups are done"
In GitLab by @bellqueen on Oct 31, 2019, 16:05

![image](/uploads/47a021e122942f9a7ec23299c39c6030/image.png)
Only display (1) how many groups have been graded
              (2) which groups need to be graded

[2020-02-07 19:22] bmyerz commented on #48
In GitLab by @bellqueen on Oct 31, 2019, 16:07

changed title from **Notifications** to **Notifications{+- Remove the spreadsheet and only display which groups are done+}**

[2020-02-07 19:22] bmyerz commented on #48
In GitLab by @bellqueen on Oct 31, 2019, 16:07

changed the description

[2020-02-07 19:22] bmyerz commented on #48
In GitLab by @JackyBreak on Oct 31, 2019, 16:37

We need to figure out a way to delete rows.

[2020-02-07 19:22] bmyerz opened #49 "Process this list of issues"
In GitLab by @bmyerz on Nov 21, 2019, 15:48

From Brandon's third-party user testing

These are under this issue

* [ ]  Need to save file path on new rubric failed (not sure what this is anymore)
* [x] Evaluation description is a big centered text box
* [x] Grading page jumps to center page
* [x] Illuminate top tabs by where you are
* [x] Comment box on grading gets big
* [x] Get rid of go to top

[2020-02-07 19:22] bmyerz commented on #49
In GitLab by @bmyerz on Nov 21, 2019, 16:05

changed the description

[2020-02-07 19:22] bmyerz commented on #49
In GitLab by @JackyBreak on Dec 5, 2019, 17:29

marked the task **"switch to" can avoid open/close each time to switch groups (related to breadcrumbs comment above)** as completed

[2020-02-07 19:22] bmyerz commented on #49
In GitLab by @JackyBreak on Dec 5, 2019, 19:45

marked the task **most groups 4 or less people so optimize attendance display for that (avoid scroll)** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Dec 5, 2019, 20:42

marked the task **highlight done groups in the grading page** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Dec 5, 2019, 21:57

marked the task **Grading page jumps to center page** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Dec 5, 2019, 22:00

marked the task **Breadcrumb on top of grading page feels like you want to click it** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Dec 11, 2019, 11:23

marked the task **setting for suggestions on/off in grading page (i.e., selectable advice)** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Dec 11, 2019, 11:23

marked the task **Get rid of go to top/bottom buttons** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Dec 11, 2019, 11:49

marked the task **setting for suggestions on/off in grading page (i.e., selectable advice)** as incomplete

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Dec 11, 2019, 11:50

marked the task **setting for suggestions on/off in grading page (i.e., selectable advice)** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Dec 11, 2019, 13:03

marked the task **setting for suggestions on/off in grading page (i.e., selectable advice)** as incomplete

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Dec 20, 2019, 13:09

marked the task **setting for suggestions on/off in grading page (i.e., selectable advice)** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Dec 20, 2019, 13:32

marked the task **Comment box on grading gets big** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Dec 20, 2019, 13:32

marked the task **Evaluation description is a big centered text box** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Feb 3, 2020, 16:18

marked the task **Illuminate top tabs by where you are** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Feb 3, 2020, 16:40

marked the task **Last edit on grade page date not human readable** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Feb 3, 2020, 16:41

marked the task **Do not underline chosen e.g. none and number chosen just do bold** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Feb 3, 2020, 16:59

marked the task **New tab/add grade tab inconsistent** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Feb 3, 2020, 17:41

marked the task **Evaluations should be first not create new evaluation tab** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Feb 3, 2020, 17:45

marked the task **Manage from profile page turns it always to mobile mode** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Feb 3, 2020, 17:52

marked the task **Maybe sure constraints on stuff like project name are told upfront** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Feb 3, 2020, 18:13

marked the task **Update button being next to comment box makes it seem like it is for just the comment.** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Feb 3, 2020, 18:26

marked the task **on Mobile toolbox is overlapped by url bar at top on Samsung galaxy s7** as completed

[2020-02-07 19:23] bmyerz commented on #49
In GitLab by @JackyBreak on Feb 3, 2020, 18:27

marked the task **Graphics on mobile tools are too cute and need to be informative** as completed

[2020-02-07 19:24] bmyerz commented on #49
In GitLab by @JackyBreak on Feb 3, 2020, 18:27

marked the task **Mobile toolbox button slowly float up to be x is distracting. Same with desktop version. Too slow.** as completed

[2020-02-07 19:24] bmyerz commented on #49
In GitLab by @JackyBreak on Feb 3, 2020, 18:29

marked the task **Grading criteria fold up button has small clickable space** as completed

[2020-02-07 19:24] bmyerz commented on #49
In GitLab by @JackyBreak on Feb 3, 2020, 18:30

marked the task **Profile manage page says haven't graded and have graded. Seems confusing. See details button not do anything.** as completed

[2020-02-07 19:24] bmyerz opened #50 "Concurrency: Test when there are multiple graders on the same evaluation"
In GitLab by @bmyerz on Dec 6, 2019, 11:33

Multiple writes/reads could access the xlsx files concurrently. Can we cause errors when we have multiple users?

[2020-02-07 19:24] bmyerz opened #51 "Metagroups being numbers gets confused between ints and strings"
In GitLab by @bmyerz on Jan 9, 2020, 13:04

If your meta groups are numbers in the students file (e.g., 1,2,3), then the keys are put into the dic_of_choosen dictionary as numbers. But then when the dictionary is accessed with a metaid, there is a key error because the metaid is type string.

This is not a problem when the meta groups are obviously strings (e.g., a,b,c).

To re-create the bug.
1.

[2020-02-07 19:24] bmyerz opened #52 "Atomicity violation on xlsx read/write"
In GitLab by @bmyerz on Jan 9, 2020, 13:27

It seems like the lock is only around read and then released. Then the write comes later. This is a concurrency error. Example is in evaluation_commit(). The lock is around file read but then released before the save happens.

[2020-02-07 19:24] bmyerz commented on #52
In GitLab by @bmyerz on Jan 27, 2020, 20:58

related to concurrency testing #50 except I found the atomicity bug here by code inspection

[2020-02-07 19:24] bmyerz opened #53 "select_index_by_group_eva_owner_date past_date not matching"
In GitLab by @bmyerz on Jan 9, 2020, 13:43

In the grading page, when I change groups, I get a failure due to the row not being found by select_index_by_group_eva_owner_date. It looks like there is one row that usually matches group_eva_owner but it has a different date than the "past_date".

[2020-02-07 19:24] bmyerz opened #54 "evaluation_page Template refers to meta, which does not exist"
In GitLab by @bmyerz on Jan 9, 2020, 14:30

In master, this template refers to "meta" variable, which does not exist. Should it be metaid?

https://research-git.uiowa.edu/sotl-tech/edusample/blob/master/building_user_login_system-master/finish/templates/evaluation_page.html#L632

[2020-02-07 19:24] bmyerz commented on #54
In GitLab by @JackyBreak on Feb 3, 2020, 16:07

Yes, it should be "metaid", otherwise it creates an invalid link.

[2020-02-07 19:24] bmyerz commented on #54
In GitLab by @JackyBreak on Feb 6, 2020, 15:31

closed

[2020-02-07 19:24] bmyerz commented on #54
In GitLab by @JackyBreak on Feb 6, 2020, 15:31

reopened

[2020-02-07 19:24] bmyerz commented on #54
In GitLab by @JackyBreak on Feb 6, 2020, 15:32

mentioned in merge request !30

[2020-02-07 19:24] bmyerz opened #55 "email reliable and working OR student reports"
In GitLab by @bmyerz on Jan 9, 2020, 21:48

Getting the emails to send again and to work for the PDF or HTML to look legible.

[2020-02-07 19:24] bmyerz commented on #55
In GitLab by @bmyerz on Feb 6, 2020, 13:40

changed title from **{-CRITICAL: email reliable and working-}** to **{+email reliable and working OR student reports+}**

[2020-02-07 19:24] bmyerz commented on #55
In GitLab by @bmyerz on Feb 6, 2020, 13:40

changed the description

[2020-02-07 19:24] bmyerz opened #56 "Making sure the sharing / multiple raters works clearly"
In GitLab by @bmyerz on Jan 9, 2020, 21:51

Not a new feature.

Test existing sharing of 1 instructor and 2 TAs. Also create instructions for how teacher creates and shares the project

[2020-02-07 19:24] bmyerz commented on #56
In GitLab by @bmyerz on Jan 9, 2020, 21:52

changed the description

[2020-02-07 19:24] bmyerz commented on #56
In GitLab by @bmyerz on Jan 27, 2020, 20:49

~Jan10: our users Suzanne and Gil found that this feature did not work for them

[2020-02-07 19:24] bmyerz commented on #56
In GitLab by @bmyerz on Feb 6, 2020, 13:39

changed title from **{-CRITICAL: -}Making sure the sharing / multiple raters works clearly** to **Making sure the sharing / multiple raters works clearly**

[2020-02-07 19:24] bmyerz commented on #56
In GitLab by @bmyerz on Feb 6, 2020, 13:39

changed the description

[2020-02-07 19:25] bmyerz opened #57 "Switching meta groups, select a group -> sends you back to some other meta group"
In GitLab by @bmyerz on Jan 27, 2020, 20:44

There are some bugs in the grading page where you select another group and it sends you to the wrong meta-group. Please fill in details on this issue regarding the specific buggy behavior.

[2020-02-07 19:25] bmyerz commented on #57
In GitLab by @bmyerz on Jan 29, 2020, 11:30

here are files from our users to reproduce it

![Image_2](/uploads/c9166e981bea8f2515661aa4e9880b8c/Image_2.png)

![Image_1](/uploads/c7670dd94847a71580a4d0797c3eff77/Image_1.png)

[VCU_Student_File_Testing_S20.xlsx](/uploads/702114b6c843f2f59d9120184d5e70af/VCU_Student_File_Testing_S20.xlsx)

[2020-02-07 19:25] bmyerz commented on #57
In GitLab by @JackyBreak on Jan 29, 2020, 16:23

Thanks, I will try to fix it by next week.

[2020-02-07 19:25] bmyerz commented on #57
In GitLab by @bellqueen on Jan 29, 2020, 23:14

It might be caused by the wrong group data is send to server side. I will fix it soon.

[2020-02-07 19:25] bmyerz commented on #57
In GitLab by @bmyerz on Feb 6, 2020, 13:14

Thanks guys, can we discuss this at the Friday Feb 7 meeting? It is the number 1 issue for our first users.

[2020-02-07 19:25] bmyerz commented on #57
In GitLab by @bmyerz on Feb 6, 2020, 13:15

assigned to @bellqueen and unassigned @JackyBreak

[2020-02-07 19:25] bmyerz commented on #57
In GitLab by @bmyerz on Feb 6, 2020, 13:15

assigned to @JackyBreak and unassigned @bellqueen

[2020-02-07 19:25] bmyerz opened #58 "Test if group names being numbers works"
In GitLab by @bmyerz on Jan 27, 2020, 20:48

thought of this as a potential issue because of the bug #51

[2020-02-07 19:25] bmyerz commented on #58
In GitLab by @bmyerz on Jan 27, 2020, 20:48

changed title from **Test if group name{- being a number-} works** to **Test if group name{+s being numbers+} works**

[2020-02-07 19:25] bmyerz commented on #58
In GitLab by @bmyerz on Jan 27, 2020, 20:48

changed the description

[2020-02-07 19:25] bmyerz opened #59 "What is the saving behavior?"
In GitLab by @bmyerz on Jan 27, 2020, 20:53

As of at least fec4eb51 (master as of Jan 9), there is uncertain behavior of saving. Is the individual save button necessary to click for each category? Does the update button at the bottom work? When does it ask you to save when you switch groups? We need to carefully chart out all this behavior and test it.

[2020-02-07 19:25] bmyerz opened #60 "Increase character limit for project name"
In GitLab by @bmyerz on Jan 27, 2020, 20:56

Currently too short to fit words like "Information Processing"

[2020-02-07 19:25] bmyerz commented on #60
In GitLab by @JackyBreak on Feb 3, 2020, 16:02

Modified the upper limit to 50 characters long, added requirement info in description. Unable to add event-listener to display current length of input due to hidden tags.

[2020-02-07 19:25] bmyerz opened #61 "Create project allows you to choose from default rubrics"
In GitLab by @bmyerz on Jan 27, 2020, 21:00

The create project page should have the option to either upload a json or choose an existing rubric from a dropdown menu.

[2020-02-07 19:25] bmyerz opened #62 "Determine the minimum number of fields required for groups"
In GitLab by @bmyerz on Jan 27, 2020, 21:02

We should update the groups sample file to have only the required columns.

[2020-02-07 19:25] bmyerz opened #63 "Migrate to github"
In GitLab by @bmyerz on Jan 27, 2020, 21:06

purpose is to make the code accessible to others to contribute

Need to find a tool that can migrate issues. Here is one potentially promising one https://github.com/piceaTech/node-gitlab-2-github

[2020-02-07 19:25] bmyerz commented on #63
In GitLab by @bmyerz on Jan 27, 2020, 21:08

We ought to also refactor at least the file directories (put app.py in the base, etc) and update the installation "scripts"

[2020-02-07 19:25] bmyerz opened #64 "Rubric page is showing the .lock files"
In GitLab by @bmyerz on Feb 6, 2020, 13:47

![image](/uploads/49176988f069d6f910a7db9e11efc217/image.png)

[2020-02-07 19:25] bmyerz opened #65 "Make the rubric copying more obvious"
In GitLab by @bmyerz on Feb 6, 2020, 14:23

Currently hidden inside account page with an unnamed search bar.
![image](/uploads/716af02156642e27dbe9a4dce23b3d95/image.png)

Suggest delete all other info on Account page
![image](/uploads/f499810d1b3b4af1e3b8030e10c5711f/image.png)
Label search bar with "search for user who's rubric you want to copy".
![image](/uploads/ffa2657b3555c155d78e6911554bf6f

[2020-02-07 19:25] bmyerz commented on #65
In GitLab by @bmyerz on Feb 6, 2020, 14:25

changed the description

[2020-02-07 19:26] bmyerz commented on #65
In GitLab by @bmyerz on Feb 6, 2020, 14:26

changed the description

[2020-02-07 19:26] bmyerz opened #66 "Deployment - [merged]"
In GitLab by @bmyerz on Aug 15, 2019, 13:50

_Merges deployment -> master_

Fixes #20

[2020-02-07 19:26] bmyerz commented on #66
In GitLab by @bmyerz on Aug 15, 2019, 13:51

added 1 commit

<ul><li>b4ae8e3d - no longer rquire email</li></ul>

[Compare with previous version](https://research-git.uiowa.edu/sotl-tech/edusample/merge_requests/1/diffs?diff_id=985&start_sha=dde4275f9269b2ff82aa6aa20287ce1f989afbbf)

[2020-02-07 19:26] bmyerz commented on #66
In GitLab by @bmyerz on Aug 15, 2019, 14:02

mentioned in commit bacfd37b5ca8e2001ee4658a2bf533f204b72285

[2020-02-07 19:26] bmyerz commented on #66
In GitLab by @bmyerz on Aug 15, 2019, 14:02

merged

[2020-02-07 19:26] #66 closed

[2020-02-07 19:26] bmyerz opened #67 "easier to setup and readme - [merged]"
In GitLab by @bmyerz on Aug 15, 2019, 17:19

_Merges cleaner-install -> master_

[2020-02-07 19:26] bmyerz commented on #67
In GitLab by @bmyerz on Aug 15, 2019, 17:19

merged

[2020-02-07 19:26] bmyerz commented on #67
In GitLab by @bmyerz on Aug 15, 2019, 17:19

mentioned in commit 00e1dd06c5b999f754d7f50897b4b1db86fb0a71

[2020-02-07 19:26] #67 closed

[2020-02-07 19:26] bmyerz opened #68 "New eva page - [merged]"
In GitLab by @bellqueen on Aug 22, 2019, 16:17

_Merges newEvaPage -> master_

evaluation toolbox and css form
fixes #1
fixes #2

[2020-02-07 19:26] bmyerz commented on #68
In GitLab by @bellqueen on Aug 22, 2019, 16:24

added 1 commit

<ul><li>fffe9389 - background images</li></ul>

[Compare with previous version](https://research-git.uiowa.edu/sotl-tech/edusample/merge_requests/3/diffs?diff_id=1001&start_sha=57dc18e3eb7d51a4cc9263a8c66848a6ada5647d)

[2020-02-07 19:26] bmyerz commented on #68
In GitLab by @bmyerz on Aug 22, 2019, 16:44

added 1 commit

<ul><li>65934bb2 - needed to update name of key variable in evaluation template rendering</li></ul>

[Compare with previous version](https://research-git.uiowa.edu/sotl-tech/edusample/merge_requests/3/diffs?diff_id=1003&start_sha=fffe9389eab71e8c68a86f3f69205f3007e426cf)

[2020-02-07 19:26] bmyerz commented on #68
In GitLab by @bmyerz on Aug 22, 2019, 16:45

merged

[2020-02-07 19:26] bmyerz commented on #68
In GitLab by @bmyerz on Aug 22, 2019, 16:45

mentioned in commit b39b5809b4cfd45c8205eea08112e8cf191620b3

[2020-02-07 19:26] #68 closed

[2020-02-07 19:27] bmyerz opened #70 "Deployment to rubric.cs.uiowa.edu - [merged]"
In GitLab by @bmyerz on Nov 7, 2019, 15:52

_Merges rubric-cs-uiowa-edu-deployment -> master_

This makes generalizations to the code so that we can deploy to our production server.

[2020-02-07 19:27] bmyerz commented on #70
In GitLab by @bellqueen on Nov 7, 2019, 15:59

merged

[2020-02-07 19:27] bmyerz commented on #70
In GitLab by @bellqueen on Nov 7, 2019, 15:59

mentioned in commit c38a0241f7ac936f21f5e6c5d0583573bda48130

[2020-02-07 19:27] #70 closed

[2020-02-07 19:27] bmyerz opened #71 "Jackyzheng - [merged]"
In GitLab by @JackyBreak on Nov 7, 2019, 16:08

_Merges jackyzheng -> runqzhao_

[2020-02-07 19:27] bmyerz commented on #71
In GitLab by @bellqueen on Nov 7, 2019, 16:08

merged

[2020-02-07 19:27] bmyerz commented on #71
In GitLab by @bellqueen on Nov 7, 2019, 16:08

mentioned in commit 8f87e72e10efa759027f816cbc7930c6a493d705

[2020-02-07 19:27] #71 closed

[2020-02-07 19:27] bmyerz opened #72 "Jackyzheng - [merged]"
In GitLab by @JackyBreak on Nov 7, 2019, 16:19

_Merges jackyzheng -> master_

[2020-02-07 19:28] bmyerz commented on #72
In GitLab by @bellqueen on Nov 7, 2019, 16:20

merged

[2020-02-07 19:28] bmyerz commented on #72
In GitLab by @bellqueen on Nov 7, 2019, 16:20

mentioned in commit e776a5d3f66648165cbdadc1fa96f713a282a657

[2020-02-07 19:28] #72 closed

[2020-02-07 21:58] bmyerz opened #74 "Download evaluations gets old version of eva sheet"
To cause to happen:

- grade some groups
- download evaluations
- grade some more groups
- download evaluations

might be a browser file caching issue?

[2020-02-07 22:00] bmyerz commented on #74
Does this only reproduce on the apache server? @bellqueen not able to reproduce on local server

[2020-02-07 22:01] bmyerz commented on #74
When logging in again on incognito tab, I was able to download the latest version of the file.

[2020-02-07 22:34] bmyerz commented on #55
Emails not currently being sent on prod server

@bellqueen needs access to a linux debugging environment to work on email sending

[2020-02-07 22:36] bmyerz commented on #54
fixed

[2020-02-07 22:36] #54 closed

[2020-02-07 22:36] bmyerz commented on #57
fixed

[2020-02-07 22:36] #57 closed

[2020-02-07 22:39] bmyerz commented on #64
![](https://research-git.uiowa.edu/sotl-tech/edusample/uploads/49176988f069d6f910a7db9e11efc217/image.png)

[2020-02-07 22:42] bmyerz commented on #53
I belive this is fixed now

[2020-02-07 22:42] #53 closed

[2020-02-07 22:43] #63 closed

[2020-02-07 22:48] bmyerz commented on #52
don't see it in latest code

[2020-02-07 22:48] #52 closed

[2020-02-07 22:50] bmyerz commented on #50
evaluation_commit() is an example from load to save of evaluation file
This whole code should have a lock around it @bellqueen

[2020-02-07 23:46] bmyerz opened #76 "Basic refactor and update readme"
- [x] cleanup directories to make things easier to find, particularly moving app.py, templates/, static/ to base directory
- [x] update readme and scripts with latest requirements

[2020-02-12 18:02] bmyerz opened #77 "Certain student xlsx files cause create evaluation to crash"
Certain student files when used to configure the project are making creation of new evaluations crash.

To re-produce, create a project with
[Student File CHEM302 S20.xlsx](https://github.com/sotl-technology/rubricapp/files/4194034/Student.File.CHEM302.S20.xlsx)
and then create a new evaluation.

[2020-02-12 18:07] #77 closed

[2020-02-12 18:47] bmyerz opened #79 "Crashes related to managing rubrics"
[Student File CHEM302 S20[1].xlsx](https://github.com/sotl-technology/rubricapp/files/4194373/Student.File.CHEM302.S20.1.xlsx)

[2020-02-12 18:48] bmyerz commented on #79
related to #77

[2020-02-12 19:30] bmyerz commented on #79
this turns out to be related to some kind of truncating of project names (even ones less than our advertised 50 char limit)

[2020-02-12 19:32] bmyerz opened #80 "Long project names are silently truncated"
to reproduce, you'll see project name
CHEM300 S00 Information Processing

Leads to truncation. The folder on the server has the full name, but the project name in the sql database gets truncated to "CHEM300 S00 Information Proces". This mismatch causes errors when you try to match the folder name to the database's name for the project, such as when you click the Profile page (project_profile_jumpt

[2020-02-12 19:33] bmyerz commented on #79
closing in favor of

[2020-02-12 19:33] #79 closed

[2020-02-12 19:36] bmyerz commented on #74
I think this would be best fixed by circumventing any file caching. Do this by always appending the current timestamp to the name of the file. For example, if we used datetime.now()...
all.xlsx becomes
all-2020-02-12 13:36:19.526562

This is what grading sites like ICON seem to do.

[2020-02-12 19:37] bmyerz commented on #64
We agreed in our meeting that this is fixed by **Removing the Rubric page** since it is now useless

[2020-02-12 19:53] bmyerz commented on #56
@bellqueen
I've tested sharing a project using
![image](https://user-images.githubusercontent.com/1979690/74371410-66050d00-4d9e-11ea-8e4d-799f244c3e0d.png)
on Profile / Manage

It seems to succeed in updating the permissions
![image](https://user-images.githubusercontent.com/1979690/74371449-761cec80-4d9e-11ea-8f2d-da1705c666a1.png)

And the other user can see the project in shared
![image](https

[2020-02-12 19:56] bmyerz commented on #56
Interestingly, in jump_to_evaluation_page, it says correctly that

project.owner sampleuser3             (this is the sharer)

[2020-02-12 20:11] bmyerz commented on #56
crashing after changing the permissions, fixing with
https://github.com/sotl-technology/rubricapp/commit/9c17f27359f2f45f8a6adbae9d0c8671900f8fb8

[2020-02-12 20:11] bmyerz commented on #56
branch making some bug fixes https://github.com/sotl-technology/rubricapp/tree/issue56

[2020-02-12 20:13] bmyerz commented on #56
After b238a5f and 9c17f27 are in, I am able to have the shared-to user access the grading pages. And both users are to some extent able to make edits to the grades.

However, there are non-determinism errors. I think this is concurrency (file locking) related, but we should also keep in mind #59 .

[2020-02-12 20:42] bellqueen commented on #80
The size of project name in database mismatch the size limit in html

[2020-02-12 21:01] bellqueen commented on #56
1. Save grade : remove edit | only support overwrite  |  give a sign that the grade is successfully saved
2. Share permission : Make sure the permission is successfully granted  |  let the owner see which users they share rubric to.

[2020-02-12 21:08] bellqueen commented on #56
* Removing the update and overwrite button and only using save

[2020-02-12 22:20] bmyerz opened #81 "Process this list of issues (later)"
These are lower priority ones curated from #49
* [ ] Jarring jump from create evaluation right into grading. (#217)
* [ ] Page for grading way different from others
* [ ] library of standard rubrics to choose from instead of only choice is upload
* [ ] ability for instructor to remove/filter some of the categories in an Evaluation so TAs do not rate them - done in Create Evaluation
* [ ] do studen

[2020-02-19 20:47] bmyerz opened #82 "Refactor: move user folders into a separate directory"
currently, username folders are created where app.py lives. We should have a folder called users/ so that it is easier to see and manage them

[2020-02-19 21:32] bmyerz commented on #80
project update on 2/19/2020 - progress has been made but we needed to
* remove the database file (for sqlite)
* change the table schema in mysql (for rubric-dev server)
https://stackoverflow.com/questions/22668024/how-to-change-column-size-of-varchar-type-in-mysql

[2020-02-19 21:34] bmyerz commented on #65
project update - @JackyBreak has this basically working but still need to get the new way of searching for projects by name to properly create a new project

[2020-02-24 17:38] bmyerz commented on #56
It looks like  b238a5f and 9c17f27 were not included in the related pull request.
- [ ] test if they were fixed or not before resolving this issue

[2020-02-24 18:06] bmyerz commented on #56
As of today's master, the saving behavior is better but still buggy
- [ ] creates a new tab each time you switch
![image](https://user-images.githubusercontent.com/1979690/75178584-fb3cc580-56fd-11ea-9bd8-2911765f02d5.png)
![image](https://user-images.githubusercontent.com/1979690/75178603-02fc6a00-56fe-11ea-80ac-7e68d5eb251b.png)
![image](https://user-images.githubusercontent.com/1979690/75178615

[2020-02-24 18:18] bmyerz commented on #59
Reopening this issue, see #56 for more bugs

[2020-02-28 10:44] #62 closed

[2020-02-28 10:44] #64 closed

[2020-02-28 10:44] #80 closed

[2020-02-28 10:44] #48 closed

[2020-02-28 10:44] #58 closed

[2020-02-28 10:44] #59 closed

[2020-02-28 20:42] bellqueen commented on #80
How to modify column size:
example
MariaDB [rubric]> alter table notification modify from_user varchar(30);

[2020-02-28 20:48] bellqueen commented on #80
alter table permission modify project_id varchar(255);
alter table permission modify owner varchar(30);
alter table permission modify shareTo varchar(30);
alter table permission modify project varchar(150);
alter table permission modify status varchar(50);

alter table user modify username varchar(30);
alter table user modify email varchar(255);
alter table user modify role varchar(20);
alter tabl

[2020-02-28 20:53] bellqueen commented on #80
make every column to 255

[2020-02-28 21:04] bellqueen opened #87 "Explore sql strict mode to enforce character length"
in issue #80 , we fixed an issue with project names being truncated silently in the database by making the character length in the database and the same length as the html form requirement.

 But to catch similar bugs more quickly in the future, we should also have the database enforce character length. We can do so with
https://stackoverflow.com/questions/40881773/how-to-turn-on-off-mysql-strict-

[2020-02-28 21:14] bellqueen opened #88 "validator issue"
check whether the group and meta group are the alphabet in validators
![image](https://user-images.githubusercontent.com/38085349/75587923-29434200-5a3d-11ea-98b1-9ea43b8525a0.png)

[2020-02-28 21:35] JackyBreak commented on #65
need to be closed

[2020-02-28 21:39] bellqueen commented on #60
fixed in merge:
Runqzhao #86

[2020-02-28 21:39] #60 closed

[2020-03-01 00:21] bmyerz commented on #80
completed the alter commands in rubric.cs server

[2020-03-05 17:58] JackyBreak commented on #82
![image](https://user-images.githubusercontent.com/42852377/76010485-9725b880-5ed8-11ea-9d7b-945946edbc71.png)

[2020-03-05 17:58] #82 closed

[2020-03-06 00:00] JackyBreak commented on #74
In the template, I added a new argument which has current time in it, such that each time user click the download button, current time will be passed to the back-end function, the back-end function then will create a file has the current time in its name. By setting unique name to every download file, the issue is fixed.

[2020-03-06 00:00] #74 closed

[2020-03-06 00:01] #65 closed

[2020-03-13 05:29] #61 closed

[2020-03-13 20:37] bmyerz opened #96 "Improve usability of "give permissions""
no longer need update button and edit/overwrite dropdown, only delete button
![image](https://user-images.githubusercontent.com/1979690/76657346-9f689e00-653f-11ea-9ed2-cb662b64c66f.png)

no longer need edit/overwrite dropdown
![image](https://user-images.githubusercontent.com/1979690/76657354-a68fac00-653f-11ea-8241-4f139b971cdb.png)

if the user you share with does not exist, then it still share

[2020-03-13 20:42] bmyerz opened #97 "Display issues"
- [x] delete overview tab
![image](https://user-images.githubusercontent.com/1979690/76657891-e30fd780-6540-11ea-960d-68958d1d41cb.png)

- [x] change Profile / Manage page to have same tabs at the top instead of the /// button
![image](https://user-images.githubusercontent.com/1979690/76657942-f58a1100-6540-11ea-8f16-4532e85fbe6f.png)

- [x] delete these instructions (they are now redundant)
![ima

[2020-03-13 20:49] bmyerz commented on #76
tracking in branch https://github.com/sotl-technology/rubricapp/tree/refactor-folders

[2020-03-13 20:50] bmyerz commented on #39
fixed somewhere around 9c17f27359f2f45f8a6adbae9d0c8671900f8fb8

[2020-03-13 20:50] #39 closed

[2020-03-23 18:08] bmyerz opened #98 "Assess accessibility and document major issues"
https://www.w3.org/standards/webdesign/accessibility#doit

[2020-03-24 17:16] bmyerz opened #99 "Add user feedback button"
User feedback rate increases when you have a button for it on the website

Here is an API for collecting responses. Appears to be free for small usages
https://doorbell.io/

[2020-03-27 00:47] #88 closed

[2020-03-27 19:51] bmyerz opened #103 "Create the users folder on setup"
Two suggested solutions
- add users folder into git (using a dummy file inside to get around git's lack of support for empty folders)
- mkdir -p the users folder inside createdb.py

[2020-03-27 19:56] #103 closed

[2020-03-27 20:20] bmyerz commented on #76
fixed in #95

[2020-03-27 20:20] #76 closed

[2020-03-27 20:28] #97 closed

[2020-03-27 20:28] #96 closed

[2020-03-27 20:28] #99 closed

[2020-03-27 20:35] JackyBreak opened #107 "Search for user that does not exist"
![image](https://user-images.githubusercontent.com/42852377/77798044-26d60700-7040-11ea-8987-e42547ee8781.png)
When search for user that does exist:
![image](https://user-images.githubusercontent.com/42852377/77798211-73b9dd80-7040-11ea-8de9-dfd15e0f9a2e.png)

[2020-03-27 20:38] JackyBreak opened #108 "Delete button in Manage Rubric page is not working"
![image](https://user-images.githubusercontent.com/42852377/77798469-ee82f880-7040-11ea-8868-e89d97c46ccc.png)

[2020-04-02 15:09] bmyerz opened #109 "Student emails should be able to show/hide the score"
We have show/hide numeric score
![image](https://user-images.githubusercontent.com/1979690/78265293-e0622b80-74c9-11ea-9ebf-2a4bf7b560eb.png)
![image](https://user-images.githubusercontent.com/1979690/78265314-e526df80-74c9-11ea-8b2e-8a33c8d712c2.png)

vs

![image](https://user-images.githubusercontent.com/1979690/78265339-eb1cc080-74c9-11ea-8156-7671a5c174c8.png)
![image](https://user-images.gith

[2020-04-03 01:48] JackyBreak commented on #109
![image](https://user-images.githubusercontent.com/42852377/78315668-4dee7600-7523-11ea-9a36-72d45f786e8b.png)

![image](https://user-images.githubusercontent.com/42852377/78315661-475ffe80-7523-11ea-9303-967798b5c18e.png)

[2020-04-03 01:59] #107 closed

[2020-04-03 01:59] #108 closed

[2020-04-03 01:59] #109 closed

[2020-04-03 20:12] bellqueen opened #116 "send email"
email address: Rubric@rubric.cs.uiowa.edu

warning is green

[2020-04-03 20:43] JackyBreak opened #117 "fix link to Copy Rubric page and comment out feedback window"

[2020-04-03 20:49] bmyerz commented on #55
Email is now working with 3 emails, but test with many students using mailinator.com email addresses.

[2020-04-03 20:51] JackyBreak commented on #55
Record how long it takes to receive the emails

[2020-04-03 20:58] bmyerz commented on #55
if an email is unreachable, then do something useful with the error message

[2020-04-10 17:40] #117 closed

[2020-04-10 20:32] JackyBreak opened #118 "Print out timestamp and email address to stdout before sending each email in app.py"

[2020-04-10 20:34] JackyBreak opened #119 "After clicking sending email button, return to other pages"
Make the email sending process run on the background. Avoid bad gateway exception.

[2020-04-17 01:03] bellqueen opened #121 "Web Accessibility"
1. Make Sure Your Site Is Keyboard-Friendly.
2. Make Sure All Content Is Easily Accessible
3. Add Alt Text to All Images
4. Choose Your Colors Carefully
5. Use Headers to Structure Your Content Correctly
6. Design Your Forms for Accessibility (Web Input)
7. Don’t Use Tables for Anything Except Tabular Data *
8. Enable Resizable Text That Doesn’t Break Your Site
9. Avoid Automatic Media and Navigat

[2020-04-17 01:22] bellqueen commented on #121
![image](https://user-images.githubusercontent.com/38085349/79521919-f5899f00-801f-11ea-819b-7455194ff5aa.png)

[2020-04-17 06:04] bellqueen commented on #121
![image](https://user-images.githubusercontent.com/38085349/79537191-61333280-8047-11ea-8aa2-260ecbaf4a19.png)

[2020-04-17 06:06] bellqueen commented on #121
![image](https://user-images.githubusercontent.com/38085349/79537297-9a6ba280-8047-11ea-9d2c-5ae4e8ca3715.png)

[2020-04-17 20:10] bmyerz commented on #98
tracking some issues is #121

[2020-04-20 17:29] bmyerz opened #123 "Changes to the sample students file"
The sample students file template

![image](https://user-images.githubusercontent.com/1979690/79780980-62dc4f00-8302-11ea-9909-6bc837336680.png)

and the contents looks like

![image](https://user-images.githubusercontent.com/1979690/79781182-b5b60680-8302-11ea-8b40-39e0f4ffeda4.png)

Let's make the following improvements to make this an easier template to understand:

- [ ] change the file name f

[2020-04-20 17:33] bmyerz opened #124 "Typo in Evaluation choice page"
![image](https://user-images.githubusercontent.com/1979690/79781432-134a5300-8303-11ea-9750-ea4707409d48.png)

Existed => Existing

[2020-04-20 17:35] bmyerz opened #125 "Remove feedback button"
![image](https://user-images.githubusercontent.com/1979690/79781547-40970100-8303-11ea-951c-df3117a17d01.png)

Since we are not using usersnap, we should remove this button so we don't lose feedback from our users.

[2020-04-23 01:35] #119 closed

[2020-04-23 01:36] #118 closed

[2020-04-24 03:58] bellqueen commented on #121
![image](https://user-images.githubusercontent.com/38085349/80173600-f4bfb280-85b5-11ea-84b1-80ae0ec75698.png)

[2020-04-24 04:00] bellqueen commented on #121
![image](https://user-images.githubusercontent.com/38085349/80173662-289ad800-85b6-11ea-8905-cdcdf95be580.png)

[2020-04-24 20:57] bmyerz opened #126 "Project debrief"
To make sure we can continue to make changes after you are done, consider the following.

## Code
- [ ] reduce duplicated code
- [ ] extract code into more than 1 py file
- [ ] refactor functions that are very long
- [ ] delete unused/outdated files or code
- [ ] add comments; priority is one comment summarizing each function
- [ ] rename important variables/functions/etc to be more descriptive or

[2020-04-24 21:22] bellqueen commented on #121
More keyboard shortcuts for accessibility.

[2020-04-24 21:23] bellqueen commented on #121
hold shift and tab -> go backward

[2020-04-24 21:24] bellqueen commented on #121
Add citation in the wiki

[2020-04-24 21:26] bellqueen commented on #121
add in the wiki: how to rearrange things in the right order

[2020-04-24 21:28] #125 closed

[2020-04-24 21:28] #124 closed

[2020-05-04 20:35] JackyBreak commented on #126
1. Move out the database part into a separate .py file

[2020-05-04 20:36] JackyBreak commented on #126
2. Login code
3. Helper function

[2020-05-04 20:39] bellqueen commented on #126
2. Move out all helper function using for Excel

[2020-05-04 20:40] JackyBreak commented on #126
4. Code which associates with excel sheet
5. Create interfaces of modifying database

[2020-05-04 20:46] JackyBreak commented on #126
Add a readme file in the templates folder and explain the orientation of each html template

[2020-05-11 20:49] bmyerz opened #135 "Refactoring spreadsheet usage"
The server's persistent data is currently spread across spreadsheets and sql database. Some of the tables stored as spreadsheets are involved in frequent transactions, particularly the evaluations table. Ideally, we would migrate most tables to sql database so that all transactions be over the sql database, leaving the spreadsheets as read-only use.

[2020-05-11 20:50] bmyerz opened #136 "Security audit"

[2020-05-11 20:52] bmyerz opened #137 "Validation of editing the student list"
There is validation during class creation, but there is not validation in the editing of the class list.

![image](https://user-images.githubusercontent.com/1979690/81610599-67df6c00-939f-11ea-99a5-60b55d0ad862.png)

[2020-05-11 20:56] bmyerz opened #138 "Unfinished multi-file refactoring"
There is currently code extracted to dataBase.py and helperfunction.py; however, this code has not been deleted from app.py.

We need to make some changes so that multi-file will work on Apache. At present, the way Apache runs the application, other python files are not visible.

[2020-05-11 20:59] #116 closed

[2020-05-11 21:00] #55 closed

[2020-06-09 19:55] bmyerz opened #139 "Inform refactoring with codeclimate"
integrate with github repo
https://codeclimate.com/

[2020-06-22 19:42] bmyerz commented on #28
![image](https://user-images.githubusercontent.com/1979690/85328576-9704f500-b496-11ea-9307-30a9ef9f1638.png)

url: /signup

[2020-06-22 19:46] bmyerz commented on #28
remove username above and use email as both username and email in database

[2020-06-23 21:11] bmyerz opened #140 "Change start screen title and remove menu duplication"
from EasyGrade to RubricApp

also navigation menu code should be moved to parent.html (or loggedin.html?), which extends bootstrap/base.html

signup/login page duplication too, different parent than parent.html (e.g., loggedout.html?)

[2020-06-23 21:11] bmyerz commented on #140
two places
![image](https://user-images.githubusercontent.com/1979690/85463364-2c25ed80-b56c-11ea-8ecf-8a1b1e32d4dc.png)

![image](https://user-images.githubusercontent.com/1979690/85463386-31833800-b56c-11ea-9b82-dfff35cd4e43.png)

[2020-06-23 21:26] bmyerz opened #141 "Remove hardcoded TW.json filename"
Multiple places in app.py separately hardcode "TW.json" as the filename storing the rubric configuration for a project. This issue calls for two changes:

1) this file should be named more usefully as: "rubric_config.json"

Note before merging to production: any existing servers need to rename all instances of TW.json to rubric_config.json

2) Instead of having the string literal appear in many pl

[2020-06-23 21:35] bmyerz commented on #140
Found another place

![image](https://user-images.githubusercontent.com/1979690/85466349-78bef800-b56f-11ea-9cc8-4dd64f7604fd.png)

top left corner when logged in

[2020-06-23 21:35] bmyerz commented on #140
We should take this chance to make sure there is a single place where this website name is set in the code

[2020-06-23 21:37] bmyerz opened #142 "Remove "some message" from left panel"
![image](https://user-images.githubusercontent.com/1979690/85466501-aad05a00-b56f-11ea-85d5-db8816121462.png)

On the evaluation page, remove the "some message"

[2020-06-29 19:32] bmyerz opened #143 "Signup/login icon moves"
login
![image](https://user-images.githubusercontent.com/1979690/86047897-41d85e80-ba15-11ea-8833-6057b52473b3.png)

singup
![image](https://user-images.githubusercontent.com/1979690/86047942-53ba0180-ba15-11ea-9329-e89cf721c8e0.png)

We should actually make the logo less prominent. We don't want it to look like logging into the institution. So lower right corner perhaps

[2020-06-29 19:48] bmyerz opened #144 "Make checklist of tests for merging"
Make a checklist of tests we need to run before merging new code to master.

[2020-06-29 20:24] bmyerz commented on #28
#145 fixed this issue

[2020-06-29 20:24] #28 closed

[2020-06-29 20:27] bmyerz commented on #140
OpenRubric

[2020-07-01 19:03] bmyerz opened #146 "Gracefully handle email errors"
When the server does not support 'mail' program or some similar error, the website never sends an error message, rather it keeps the spinning gif:

![image](https://user-images.githubusercontent.com/1979690/86281575-62ceba00-bba3-11ea-8100-ebbd5d924aed.png)

Perhaps related, is that the first time you go to 'Manage' for an evaluation, it indicates as if the emails were already sent, before the use

[2020-07-06 19:55] bmyerz opened #147 "Identifying other html template duplications"
comes after #140 fixes

[2020-07-06 19:56] bmyerz commented on #147
Use the block "variables" described in https://jinja.palletsprojects.com/en/2.11.x/templates/#template-inheritance

[2020-07-06 19:56] bmyerz commented on #140
https://jinja.palletsprojects.com/en/2.11.x/templates/#template-inheritance

[2020-07-06 20:16] bmyerz opened #148 "Test legacy users after username=>email change"
specific test case proposed by @zhouhuan200010pm

1. legacy user creates user-based name
2. change to new version
3. legacy user logs in with their username (but it says email)

[2020-07-06 20:19] bmyerz commented on #148
@zhouhuan200010pm Update label to bug if this test finds a crash

[2020-07-08 19:48] bmyerz opened #149 "Turning off scores investigation"
Currently can use
![image](https://user-images.githubusercontent.com/1979690/86963361-0717aa00-c12a-11ea-96b6-3704d40f98cd.png)

to turn on
![image](https://user-images.githubusercontent.com/1979690/86963292-e6e7eb00-c129-11ea-9df2-908c26cff468.png)
and off
![image](https://user-images.githubusercontent.com/1979690/86963320-f404da00-c129-11ea-9c92-3db5e5d5ab0b.png)
the numbers on the radio buttons

[2020-07-08 19:50] bmyerz opened #150 "Hide scores switch doesn't turn back on"
![image](https://user-images.githubusercontent.com/1979690/86963502-40e8b080-c12a-11ea-9162-2778b8597d47.png)
hide scores successfully turns off the scores but sometimes seems like when you turn it back off it doesn't make the numbers come back.

[2020-07-08 19:51] bmyerz commented on #150
cannot reproduce this bug

[2020-07-08 19:51] #150 closed

[2020-07-08 19:59] bmyerz opened #151 "Radio buttons are blending together in some screen sizes"
On some screen sizes, the grey boxes for the radio buttons seem to blend together, as seen by N/A and 4 as well as 0 and 5 buttons below (laptop running chrome).

![image](https://user-images.githubusercontent.com/1979690/86963804-b05ea000-c12a-11ea-99b3-ebbd7b739f8e.png)

even worse when zoomed in

![image](https://user-images.githubusercontent.com/1979690/86964382-97a2ba00-c12b-11ea-806f-f6a8950

[2020-07-08 20:02] bmyerz opened #152 "Line wrapped lines don't sit next to checkbox"
When a text takes 1 line, it appears next to the checkbox, as desired. However, when the text wraps to multiple lines, the text starts _below_ the check box instead of next to the checkbox. We want the first line of text to always start immediately to the right of the checkbox, regardless of how many lines.

on a laptop
![image](https://user-images.githubusercontent.com/1979690/86964525-d0db2a00-c

[2020-07-08 20:22] bmyerz opened #153 "Toggle button violates abstraction"
We've used the "text" value for the `type` attribute of a `section` in our json format for giving lists of suggestions. That motivated calling our toggle button "show suggestions".
![image](https://user-images.githubusercontent.com/1979690/86965944-eb160780-c12d-11ea-92c9-25b465a216c0.png)

However, this naming of the toggle button violates the abstractions of rubrics in two ways

1. The `name` at

[2020-07-08 20:22] bmyerz commented on #153
@bmyerz assigned for testing part, then re-assign

[2020-07-13 21:33] zhouhuan200010pm commented on #148
bug found - entering the email will have the "not a user" tag

[2020-07-13 21:33] bmyerz commented on #148
after thinking about this, let's talk about it at next meeting (July 20) before we implement any fix

[2020-07-14 21:33] #151 closed

[2020-07-14 22:19] bmyerz opened #157 "Fixes to the entry pages"
- [x] The way the logo is shown on the signup/login page may mislead the user to use their hawkid login credentials. That's a security risk for users! To prevent that confusion, let's remove the iowa logo entirely from both signup and login pages. You can replace it with just the title of the website (current name is OpenRubric)

![image](https://user-images.githubusercontent.com/1979690/87478901-

[2020-07-14 22:37] bmyerz commented on #153
Test complete: all lists are turned on and off by the button.

when show suggestions is on
![image](https://user-images.githubusercontent.com/1979690/87483150-9e806f80-c5f8-11ea-8e9e-302d3d8785bd.png)

when show suggestions is off
![image](https://user-images.githubusercontent.com/1979690/87483161-a3ddba00-c5f8-11ea-86e1-9b46bf0066af.png)

[2020-07-14 22:38] bmyerz commented on #153
@zhouhuan200010pm I'm done testing this. The only change needed is simple: rename "Show Suggestions" to "Show Lists" (see left side of screenshots, where the button is)

[2020-07-14 22:39] bmyerz commented on #149
Not clear what is really desired here. Let's postpone working on this issue until we get clarification from users.

[2020-07-15 20:13] bmyerz commented on #149
looking back at the master list rubrics; we probably want scores on/off teacher as is or always on. For email, choose whether or not to share score

[2020-07-21 19:13] #140 closed

[2020-07-21 19:13] #142 closed

[2020-07-21 19:13] #147 closed

[2020-07-21 19:35] bmyerz opened #160 "Toolbar highlights wrong group"
The bread crumb at the top
Home > Rubrics > Teamwork > week 1 > a > Be
shows the correct group, but the highlighting in the left toolbar shows the first group (He) is selected.

![image](https://user-images.githubusercontent.com/1979690/88098252-17367d00-cb5f-11ea-90f9-405c8cd28c39.png)

Sometimes it also has multiple wrong highlights and excludes the correct highlight. Here the breadcrumb correct

[2020-08-03 20:12] zhouhuan200010pm opened #162 "Investigate the "Init()" function in the evaluation_page html file"
The "Init()" function down in the Javascript part of templates/evaluation_page.html seems outdated. For example the function does things that seem to already be handled by the HTML file.

[2020-08-05 17:08] #152 closed

[2020-08-05 17:09] #153 closed

[2020-08-05 17:13] bmyerz commented on #160
Fixed by #161

[2020-08-05 17:13] #160 closed

[2020-08-05 17:16] bmyerz commented on #143
closing in favor of #157

[2020-08-05 17:16] #143 closed

[2020-08-05 17:17] bmyerz commented on #157
tracking in Fix-

[2020-08-05 22:21] bmyerz opened #164 "Change website name to..."
old name: OpenRubric

new name: ELIPSS SkillBuilder

[2020-08-05 22:22] bmyerz commented on #164
should do at same time as #157

[2020-08-05 22:24] bmyerz opened #165 "Write a website user help"
Write simple tutorials in [wiki](https://github.com/sotl-technology/rubricapp/wiki) for

- [ ] creating a new Project
  - should link to the [sample roster and sample rubric](https://github.com/sotl-technology/rubricapp/tree/master/sample_file)
- [ ] creating a new Evaluation
- [ ] using the evaluation page to rate groups / viewing overall status (on manage page)
- [ ] downloading your data
- [ ]

[2020-08-05 22:43] bmyerz opened #166 "Broken link on manage page"
![image](https://user-images.githubusercontent.com/1979690/89471132-fa936b00-d742-11ea-967b-b40deeaafbdb.png)

Clicking on the project name (ELIPSSTeamwork here) is a broken link. Should go to the same place as where clicking Project name would go on the home page

![image](https://user-images.githubusercontent.com/1979690/89471173-13038580-d743-11ea-8179-fd575c549727.png)
In other words, to the l

[2020-08-05 22:53] bmyerz opened #167 "Attendance improvements"
![image](https://user-images.githubusercontent.com/1979690/89471382-a046da00-d743-11ea-9075-3ca8d5487f38.png)

Attendance feature appears to work. That is, if you click checkboxes and then click "save", it will store those students names in the spreadsheet ("students" column in "eva" sheet). However, to make it much less confusing, we need the following improvements:

- [ ] make it harder to _forg

[2020-08-05 23:03] bmyerz opened #169 "Email improvements"
- [ ] when running on flask server localhost, Email button should be stubbed instead of sitting hanging
- [ ] add button next to Email that says Download student feedback forms (so instructor can distribute them another way or simply look at a sample feedback form)
- [ ] Test emails again on main server to ensure working properly
- [ ] Test: Do emails get sent to all teams or only those who have b

[2020-08-05 23:04] bmyerz commented on #169
closing #146 in favor of this one

[2020-08-05 23:13] bmyerz opened #170 "Broken breadcrumb links on evaluation page"
![image](https://user-images.githubusercontent.com/1979690/89472845-fec18780-d746-11ea-845e-72d0a71a0be5.png)

Two broken breadcrumb links are evaluation ("Week 1" above) and meta group ("c" above). The evaluation one goes to a confusing page (create new evaluation). And the meta group one is just a broken link.

We should just remove the links from these two breadcrumbs (similarly to the group br

[2020-08-05 23:19] #146 closed

[2020-08-05 23:19] #126 closed

[2020-08-05 23:20] #45 closed

[2020-08-05 23:21] #24 closed

[2020-08-05 23:23] bmyerz opened #172 "Remove the "+ blank grade" tab"
We used to support multiple versions of a grading page for each team. (see + blank grade in this screenshot)

![image](https://user-images.githubusercontent.com/1979690/89473524-aee3c000-d748-11ea-8490-e834de3f908b.png)

But the feature seems very broken and outdated. Just remove this "+" tab to avoid confusing the user.

[2020-08-05 23:26] bmyerz opened #173 "Remove the comments and cancel button"
On the very bottom of the evaluation page...

![image](https://user-images.githubusercontent.com/1979690/89473678-1d288280-d749-11ea-84fc-4a88227b95ad.png)

These are broken features, so remove them from the page to avoid confusing users.

[2020-08-05 23:30] bmyerz opened #174 "Title link does nothing"
![image](https://user-images.githubusercontent.com/1979690/89473794-68db2c00-d749-11ea-96b2-3fc2dc22f594.png)

Title in upper left corner appears to be a link but it doesn't do anything. Remove the link. Or if you cannot do that, then just make it just always go to the Projects page.

[2020-08-05 23:33] bmyerz opened #175 "Remove link from "Home" breadcrumb"
![image](https://user-images.githubusercontent.com/1979690/89474035-164e3f80-d74a-11ea-97ca-5f9c0c73548d.png)

The Home goes to instructor_dashboard. But this is an outdated page. You can keep the Home breadcrumb, but remove the link off of it (that is, just make it be text).

Make sure to do this for all pages with breadcrumbs.

[2020-08-13 16:40] #166 closed

[2020-08-13 16:48] #164 closed

[2020-08-13 16:54] #157 closed

[2020-08-13 17:03] #172 closed

[2020-08-13 17:04] #174 closed

[2020-08-13 17:05] #175 closed

[2020-08-13 17:07] bmyerz commented on #174
fixed by #180

[2020-08-13 17:08] bmyerz commented on #157
fixed in #178

[2020-08-13 19:06] bmyerz opened #182 "images"

[2020-08-13 19:06] #182 closed

[2020-08-13 19:13] bmyerz commented on #182
![image](https://user-images.githubusercontent.com/1979690/90176218-3e532980-dd6e-11ea-94e3-8a175773846d.png)

[2020-08-13 19:28] bmyerz commented on #182
![image](https://user-images.githubusercontent.com/1979690/90178275-482a5c00-dd71-11ea-9bf3-b7bcc165aa03.png)

[2020-08-13 19:45] bmyerz opened #183 "Deleting a Project does not delete its Evaluations (and other stuff)"
To reproduce user-visible website error.

1. Create a Project
2. Create at least one Evaluation in that Project
3. Delete the Project (using Manage Projects)
4. Create a new Project **with the same name as the old Project**

You will now see inconsistencies. For example, the old Evaluation is still listed in some places and not in others.

To fix this problem, make sure that when a row is deleted

[2020-08-13 19:51] bmyerz commented on #182
![image](https://user-images.githubusercontent.com/1979690/90180353-73fb1100-dd74-11ea-8890-403efe8fdf0b.png)

[2020-08-13 20:15] bmyerz commented on #182
![image](https://user-images.githubusercontent.com/1979690/90182554-c427a280-dd77-11ea-86f6-a2220981ba40.png)

[2020-08-13 20:39] bmyerz opened #184 ""See details" of Grade Complete/Incomplete in Manage Project breaks when evaluation name has spaces"
To reproduce

1. Create an Evaluation whose name has spaces, such as "Week 1"
2. Go to Manage Projects, click Manage for that Project. Click "see details" under either Grade Complete or Grade Complete.

When inspecting the HTML, you'll see that an extra `"` was inserted, which ends the value for onclick.

![image](https://user-images.githubusercontent.com/1979690/90184820-57160c00-dd7b-11ea-9a9e-6

[2020-08-13 20:51] #184 closed

[2020-08-13 21:53] bmyerz opened #186 "Signup with write the password twice"
The signup page is bare bones. It only has a single password field. Usually websites have you enter the password twice to avoid typos.

[2020-08-13 21:54] bmyerz opened #187 "login and signup are too similar"
After signing up, users may not realize it worked because the login page looks almost identical

[2020-08-13 21:56] bmyerz opened #188 "Fix typos on samples / new tab"
![image](https://user-images.githubusercontent.com/1979690/90191090-dad4f600-dd85-11ea-8f53-3d9d91e22dee.png)

- [ ] plurals typo
- [ ] update wiki tutorial wording
- [ ] make these two links open in new tab

[2020-08-13 22:14] bmyerz opened #189 "Date and time - formatting and bug"
![image](https://user-images.githubusercontent.com/1979690/90192368-6e0f2b00-dd88-11ea-90af-50bc31c01536.png)
In the grading page.
Don't use the < > brackets.

[2020-08-13 22:19] bmyerz commented on #189
There's also a bug where clicking on the next group messes up the timestamp

![image](https://user-images.githubusercontent.com/1979690/90192714-1de49880-dd89-11ea-8df8-5fcef1176a7a.png)

[2020-08-13 22:26] bmyerz opened #190 "Too much space in Switch Groups"
1 row of groups has too much margin above, so user might think something is wrong. Instead of center vertical justification, use top vertical justification. Should always start first row of buttons at same place
![image](https://user-images.githubusercontent.com/1979690/90192965-9e0afe00-dd89-11ea-8a76-d695a04d6ddc.png)

[2020-08-13 22:35] bmyerz opened #191 "See all details spreadsheet right boundary is off"
![image](https://user-images.githubusercontent.com/1979690/90193790-4e2d3680-dd8b-11ea-9e2d-11b79b20009b.png)

Table starts on the left in the correct place, but right side bleeds into the black right margins

[2020-08-13 22:37] bmyerz opened #192 "Cleanup the evaluations xlsx"
Remove the first sub-sheet, since it is blank and might look confusing. Also rename eva to evaluations.

![image](https://user-images.githubusercontent.com/1979690/101959540-2039f080-3bcb-11eb-9dfd-e3b98a3a4e97.png)

[2020-08-13 22:42] bmyerz opened #193 "Evaluations scores should be numbers"
The columns for scores (i.e., name in the json rubric) are made to be text by default. But the common case is that the "names" are numeric scores. So when the evaluations spreadsheet is exported, we should detect if columns are numeric and then set them to be numeric.

See the green errors on the "numeric" cells that excel is treating as text.
![image](https://user-images.githubusercontent.com/197

[2020-08-13 23:02] bmyerz opened #194 "Permission successfully created is red even when it succeeds"
When you successfully create a new Permission to share a Project, a bar pops up at the top "Permission successfully created" but it is red, which might look like an error to the user. Instead, make it the same shade of green as the save success on the evaluations page.

[2020-08-13 23:47] bmyerz commented on #165
see https://github.com/sotl-technology/rubricapp/wiki/User-Tutorials

[2020-08-13 23:47] #165 closed

[2020-08-18 19:51] bmyerz commented on #191
Hard to replicate this problem. But we should consider that we really just want to know "which groups haven't had ALL items rated yet". We don't care so much about each column check marked. So could be a third "yellow" list of groups in addition to green and red.

[2020-08-24 00:50] zhouhuan200010pm commented on #189
Haven't Fix the issue yet, but could change it by fixing the Javacript function "updateLastEditTime()" or simply delete this feature

[2020-10-14 18:42] bmyerz commented on #169
tracking this issue in PR #201

[2020-12-11 20:58] bmyerz opened #203 "Improve permissiveness of roster upload"
From user:

I propose

- [ ] improve permissiveness in the above ways
- [ ] adversarially test the roster uploads and for each error: make it more permissive OR make the requirements or error messages more specific and helpful

Given that our test infrastructure is still brittle, we need to take particular care that more permissive rosters do not break other parts of the website.

[2020-12-11 21:08] bmyerz opened #204 "Renaming evaluations and projects"
Allow for renaming projects and evaluations.

[2020-12-11 21:11] bmyerz opened #205 "Viewing all criteria requires scrolling"
User says only one criterion displays on the screen at a time

Relatedly, only the ratings or the checkboxes fit on the screen of Iphone 7

![image](https://user-images.githubusercontent.com/1979690/101959211-807c6280-3bca-11eb-8cff-226714e6546b.png)

The same user also noted they liked that criteria roll up upon saving but they want to be able to open it back up. That feature exists: click the na

[2020-12-11 21:52] bmyerz opened #206 "Usability and functional bugs with switching groups on small screens"
On Iphone 7, the user says

I was able to replicate this.

"Tools" is not obvious that it hides switching groups. It seems to imply utilities as opposed to frequently used core functionality.

![image](https://user-images.githubusercontent.com/1979690/101958273-a6a10300-3bc8-11eb-8c0c-6cfe1eb5fa88.png)

Clicking on a group...
![image](https://user-images.githubusercontent.com/1979690/101958392-d65

[2020-12-11 21:57] bmyerz opened #207 "Make saving a rating harder to forget to do"
User feedback:

This same issue was raised by another user

We should think about how to make sure the instructor doesn't forget to save a rating.

![image](https://user-images.githubusercontent.com/1979690/101958750-8b82c300-3bc9-11eb-865c-f42aa7a94e86.png)

User also noted similar issue with attendance feature:

We will track that one at #167

[2020-12-11 22:08] bmyerz commented on #192
User feedback noted this problem, so re-prioritizing.

[2021-02-25 19:33] #170 closed

[2021-02-25 19:36] #173 closed

[2021-02-25 20:05] #187 closed

[2021-02-25 23:33] #194 closed

[2021-02-25 23:39] bmyerz opened #209 "Refactor UI status messages"
terminology for this issue: "status message" is something like

![red status message at the top of the manage projects page that says: You cannot give permission to yourself](https://user-images.githubusercontent.com/1979690/109233694-e8852280-778f-11eb-9aa0-74a3414100dc.png)

The code for displaying status messages are a bit of a mess. A few problems
- the whole message is encoded into the url
-

[2021-02-25 23:44] bmyerz opened #210 "Refactor URLs, especially with respect to username"
Many URLs have the username and other things (project, evaluation, etc) encoded into them, making for some ugly URLs.

For example:
http://localhost:5000/project_profile/sampleuser11%40example.comsampleuser11%40example.comTeamworkfull/self

There has got to be a better way. We already have session information about the user, so username shouldn't appear. I know this because of examples like http:/

[2021-03-09 21:42] #188 closed

[2021-03-09 21:42] bmyerz commented on #190
fixed in #199

[2021-03-09 21:42] #190 closed

[2021-03-09 21:43] bmyerz commented on #186
fixed in #198

[2021-03-09 21:43] #186 closed

[2021-03-09 21:51] bmyerz commented on #148
At this point I think we need to deprecate older username based accounts - I don't think it will be an issue at this point, since most new accounts are in the new format.

[2021-03-10 03:04] Junnan-wang commented on #183
1. Firstly, we do not have a button to delete an evaluation.
2. If we delete the whole project, then we create a project with the same name as the deleted project, all the evaluations associated with the deleted project would still exist.
3. In addition, after re-creating the project, these evaluations appeared are actually not usable. If click into the evaluations created before the deletion + re

[2021-03-18 21:48] bmyerz opened #214 "Server environment for easier development of server configuration"
Certain issues require tweaking the dev/prod server configurations until we get them right. It also requires developers to have write access to the dev/prod server. Two examples issues where this is a barrier are:
- refactoring to multi file #138 requires tweaks to Apache to find our app
- getting emails working #169

Since we do not administer the server, it would be nice to have a development en

[2021-03-23 19:51] bmyerz commented on #210
why are we using GET and POST for many of the routes?

[2021-03-29 03:52] Junnan-wang opened #216 "Rating page not consistent"
When creating an evaluation, the webpage of the rating screen is not consistent on the screen.
![Capture](https://user-images.githubusercontent.com/62077662/112784774-17edb000-9018-11eb-9553-c91e4e2beb1d.PNG)
As shown here, the order of the groups is random.

[2021-03-29 04:59] Junnan-wang commented on #216
Another issue is when you are on rating page, if clicking the button at top: (like Week 1, a, etc in this case)
![image](https://user-images.githubusercontent.com/62077662/112788834-63f12280-9021-11eb-8865-f20390fd1a5d.png)
The webpage will navigate to create evaluation page:
![image](https://user-images.githubusercontent.com/62077662/112788906-85eaa500-9021-11eb-8f21-5a59ba179043.png)

[2021-04-06 20:38] bmyerz commented on #56
closing in favor of #59 and #85

[2021-04-06 20:38] #56 closed

[2021-04-06 20:44] #49 closed

[2021-04-06 20:46] bmyerz opened #217 "Create evaluation should go to Existing Evaluations"
currently, after clicking Create New Evaluation
![image](https://user-images.githubusercontent.com/1979690/113776126-2b230e80-96ef-11eb-824b-f899ede85386.png)

it takes you directly to the grading page. This is jarring for users, so instead make it take you to /load_project, with the Existing Evaluations tab chosen.

![image](https://user-images.githubusercontent.com/1979690/113776200-442bbf80-96e

[2021-04-06 21:00] bmyerz opened #218 "Improvements to /project_profile"
- [ ] Change the wording "Give permission of this project to other users / Manage the permission you have granted". Change to "Add or remove users for this project".

- [ ] Change Permission title to Sharing this project

- [ ] Change Evaluation title to Evaluations

- [ ] Change "Manage Rubrics" to "Manage Projects" breadcrumb
![image](https://user-images.githubusercontent.com/1979690/113777069-3

[2021-04-06 21:00] bmyerz commented on #210
putting this issue aside for now

[2021-04-06 21:01] bmyerz commented on #205
fixed in #212

[2021-04-06 21:01] #205 closed

[2021-04-20 05:13] Junnan-wang opened #219 "Missing all the alert message on "create new project" screen"
![image](https://user-images.githubusercontent.com/62077662/115340549-7ec03e00-a16c-11eb-8ac2-b1237426dc6a.png)
This is an image after creating a project with the same name as a previous project name. The screen still holds the function that it won't proceed to navigate you to the project list page, which means you successfully create a new project. It is as previous that it will stay on the "Crea

[2021-04-20 20:03] bmyerz opened #222 "Grading page has duplicate (or unused?) HTML in the ToolBox"
See for example the meta groups buttons, or studentName part in Attendance. Some of the HTML appears to be displayed and other might be inactive.

[2021-04-20 20:08] bmyerz opened #223 "When share a Project permission to a user twice, crash page instead of a red Alert"

[2021-04-20 20:09] bmyerz commented on #223
We should fix it during #209

[2021-04-21 05:49] Junnan-wang commented on #222
In the html of rating page, if search for a specific name at the attendance (Here is "Werner, Lillia"), there will be multiple occurrence of the name, even though the name appears in screen for only one time:
![image](https://user-images.githubusercontent.com/62077662/115502596-c9a88700-a23a-11eb-8055-3cb120d9fb66.png)
![image](https://user-images.githubusercontent.com/62077662/115502604-cc0ae100-

[2021-04-21 05:51] Junnan-wang commented on #223
This is what will happen if share the same project to another user for twice:
![image](https://user-images.githubusercontent.com/62077662/115503253-bd70f980-a23b-11eb-9d09-6a6f4713c143.png)

[2021-05-04 20:07] fmmohamed opened #224 "when deleting a project and create new one with the same name, evaluations of the old version reappears"
If we delete an existing project, the evaluations that exist inside of it are not deleted along with it. So, if we create a new project with the same name as the one deleted, the evaluations of the old one show up in the Existing Evaluations tab.

[2021-06-22 14:38] bmyerz opened #225 "Password management"
- reset password
- confirm account through email

[2022-09-13 20:10] sah0017 opened #226 "Resolve comments from Selenium tests closed pull request"
I merged the pull request that added Selenium tests to the master branch.  However, the previous code owner made a number of comments about the Selenium tests in the pull request.  Someone should go back to the closed pull request and try to address the comments that were attached to the pull request.

[2022-09-19 18:41] sah0017 opened #227 "AT: Implement the existing Selenium Tests"

[2022-09-19 18:42] sah0017 opened #228 "Update method syntax for 'find_element*' to updated syntax"

[2022-09-19 18:42] sah0017 opened #229 "AT: Create a spreadsheet for all HTML files showing which have/dont have tests"
After figuring out which ones do/dont have test, create a spreadsheet to visualize this information.

[2022-09-19 18:49] sah0017 opened #230 "AT: Identify which web pages have selenium tests and which ones don't."

[2022-09-19 18:49] sah0017 opened #231 "Researching Flask (running tests, how it works, etc.)"

[2022-09-19 18:49] sah0017 opened #232 "Researching .py units (testing, how it works, etc.)"

[2022-09-19 18:49] sah0017 opened #233 "UT: Begin breaking up areas to test in the app.py"

[2022-09-19 18:49] sah0017 opened #234 "app.py Documentation"

[2022-09-20 21:46] sah0017 opened #235 "UT: Write tests for validators (Unicode isn't being translated into characters)"

[2022-09-20 21:46] lagodinez opened #236 "Maintenance: Create separate test files for running different tests on specific methods in the app.py file."

[2022-09-20 21:46] lagodinez opened #237 "Unit Tests: Write tests for case sensitivity (emails should not be case sensitive, but other fields, such as passwords, should be)"

[2022-09-22 01:46] mekealbrown opened #238 "Fix Bugs In signUpDriver & test0"
Logic is faulty in these two files checking for certain error messages.

Update 1: alert1 XPATH is correct now. alert2 still cant be found

[2022-09-22 19:27] mekealbrown commented on #228
Is this issue okay to close?

[2022-09-22 19:41] sah0017 commented on #228
First, you need to create a Pull Request.  Issues are typically closed once the pull request fixing that issue has been merged into the master branch.

[2022-09-23 17:00] #228 closed

[2022-09-26 01:25] DanielDiazTortolero commented on #234
Documented up to the halfway point.

[2022-09-27 04:14] mekealbrown commented on #238
Pull request opened

[2022-09-27 13:21] sah0017 commented on #229
@ksoria0205 please put the spreadsheet in the Github Wiki for the project.

[2022-09-27 13:22] sah0017 opened #241 "AT: Create a Todo item for each HTML file that doesn't already have Selenium tests associated with it."

[2022-09-27 13:32] ksoria0205 opened #242 "AT: create a selenium test incorporating account.html"
You can either create a test or add to an existing test to incorporate the file. It is part of the rubric page.

[2022-09-27 13:34] ksoria0205 opened #243 "AT: create a selenium test incorporating download_page.html"
You can create a test or add to an existing test. The file is part of the grade report page (full evaluation).

[2022-09-27 13:36] ksoria0205 opened #244 "AT: create a selenium test incorporating notification.html"
You can create a test or add to an existing test. This is a notification that is supposed to notify to join a group. You will also need to figure out how to access the notification on the website.

[2022-09-27 15:10] #238 closed

[2022-09-27 15:46] sah0017 opened #245 "Add instructions on how to set up and run Selenium tests to the Wiki"

[2022-09-27 18:44] sah0017 opened #246 "New Rubric: As an instructor, I want to be able to add new rubrics to the app."
Currently, only a Teamwork rubric is available in the system.  I would like to add additional rubrics to the system.

[2022-09-27 18:52] DanielDiazTortolero commented on #234
Finished documenting the CRUD operations.

[2022-09-27 19:02] kussmaul commented on #246
Good idea - I coded the OPTIC app so that protocols were defined as JSON, and users could upload their own custom protocols.  Easy to implement, but not an easy way to edit existing protocols in a user-friendly way. Might be good to distinguish between "add rubrics" and "edit/customize rubrics".

[2022-09-27 20:49] Mr615-TN opened #247 "Sandbox: Create a "sandbox" branch on GitHub to be used for editing/creating code."

[2022-09-27 20:54] Mr615-TN opened #248 "UT: Determine which tests require pytest vs py unit."

[2022-09-27 20:55] Mr615-TN opened #249 "Version: Create test folders with similar methods to determine which version of a method is most efficient/effective."

[2022-09-27 20:56] Mr615-TN opened #250 "Version: Remove/remodify all redundant code."

[2022-09-27 21:00] Mr615-TN opened #251 "Maintenance/Version: Create test cases with redundant code removed to determine what can/cannot be removed from the original app.py."

[2022-09-27 21:04] Mr615-TN opened #252 "UT: Create several general test cases so that we no longer need to rewrite duplicate code."

[2022-09-27 21:10] Etl1117 commented on #248
Jeremy and Luis will determine the methods that will be useful for py-units, and Evan and Tanish will determine the methods that will be useful for pytest.

Both groups should be in communication with one another and share where the types of testing overlap

[2022-09-27 23:53] mekealbrown commented on #227
test1 is failing, looks like Selenium locators aren't correctly implemented.

[2022-09-28 00:33] mekealbrown commented on #245
Wiki updated. If reviewed to be satisfactory, I will close this issue.

[2022-09-29 13:51] sah0017 commented on #245
@mekealbrown I'm still getting the error ModuleNotFoundError:  No module named 'webdriver_manager'. Your doc doesn't mention putting the location of the chromedriver.exe in the PATH, but I moved the .exe into a folder that was already on the path, and it still isn't finding the module.  Did you have to do anything else so that the code could find it?

[2022-09-29 13:53] sah0017 commented on #245
@mekealbrown I also tried putting chromedriver in the same directory with the tests, but it still isn't finding it.

[2022-09-29 21:11] mr21Awesomeness opened #254 "Pass 3 tests in test0_signUp_test.py Selenium Test"

[2022-09-29 21:11] mr21Awesomeness commented on #254
All three tests pass!

[2022-09-29 21:12] #254 closed

[2022-09-29 21:12] mr21Awesomeness commented on #254
Issue Closed!

[2022-09-29 21:13] mr21Awesomeness opened #255 "Pass 7 test1_login_test.py Selenium Test"

[2022-09-29 21:18] mr21Awesomeness opened #256 "Pass 7 test2_createProject_test.py Selenium Test"

[2022-09-29 21:20] mr21Awesomeness commented on #256
Currently only 5/7 tests pass.
The tests that failed are:
test2_2_failed_by_invalid_password,
test2_3_failed_by_invalid_email

[2022-09-29 21:21] mr21Awesomeness commented on #256
Did not mean to close

[2022-09-29 22:20] sah0017 commented on #254
@mr21Awesomeness Did you have to make any code changes to get the tests to pass, or did they pass right out of the box?

[2022-09-29 23:26] mekealbrown commented on #254
I think issue #248 contains the fixes that got test0 passing. It did not work out of the box

[2022-09-29 23:27] mekealbrown commented on #254
Apologies, Issue #238

[2022-09-29 23:37] mekealbrown commented on #245
I will include needing chromedriver in PATH

[2022-10-01 02:12] mekealbrown commented on #245
Wiki updated to state that chromedriver needs to be in PATH. Do you want to keep this issue open until a surefire way is found to get these tests running on all machines?

[2022-10-01 07:37] mr21Awesomeness commented on #254
There are now 6 new tests in "test0_signUp_test.py" that all pass.

[2022-10-01 17:47] mr21Awesomeness commented on #255
Added 6 new tests that all pass.

[2022-10-03 17:39] mr21Awesomeness commented on #256
I revised and wrote 8 new tests for "test2_createProject_test.py". All tests pass. Also created 14 new member functions for "CreateProject()" class in the "createProjectDriver.py".

[2022-10-03 17:39] #256 closed

[2022-10-03 17:41] mr21Awesomeness commented on #255
Added 2 more new tests in "test1_login_test.py" that also pass. Added 10 new member functions to the "LogIn()" class in the "loginDriver.py".

[2022-10-03 17:41] #255 closed

[2022-10-03 17:42] mr21Awesomeness opened #260 "Implement test3_evaluation_test.py Selenium Test"

[2022-10-04 01:14] #260 closed

[2022-10-04 01:14] mr21Awesomeness opened #261 "Implement test4_rating_test.py Selenium Test"

[2022-10-04 01:29] mr21Awesomeness commented on #245
Closing Issue, documentation looks good, great job Mekeal!

[2022-10-04 01:29] #245 closed

[2022-10-04 01:33] #230 closed

[2022-10-04 01:39] mr21Awesomeness commented on #229
Posted spreadsheet in the Github Wiki!

[2022-10-04 01:39] #229 closed

[2022-10-04 01:50] mr21Awesomeness commented on #241
Three todos were missing and have been added, totaling 8 todos corresponding to all existing HTML files.

[2022-10-04 01:50] #241 closed

[2022-10-04 22:38] DanielDiazTortolero commented on #250
Started working on simplifying code

[2022-10-05 20:49] Mr615-TN opened #262 "Research Werkzeug (Werkzeug is a library imported in app.py and has a lot of similarities to Flask. Maybe we run some tests with it and see if in certain areas it is more efficient that Flask)"

[2022-10-05 20:53] Mr615-TN commented on #262
I went off on a tangent as I was confused about what the Werkzeug library did. Daniel mentioned that it was imported as I was a bit confused about where the check_password_hash came from in the login page section of the app.py wiki more specifically line 343 in the app.py wiki.

[2022-10-06 20:39] sah0017 opened #263 "Screen redesign"
Look at the screens and see if we can design it to look better.

[2022-10-06 20:46] sah0017 opened #264 "Acceptance Tests: As the product owner, I want to have automated tests covering all major features so that I can ensure that the system works correctly."

[2022-10-06 20:46] sah0017 opened #265 "Edit Rubric: As an instructor, I want to be able to edit/customize rubrics in the app."

[2022-10-06 21:29] sah0017 opened #266 "NR: Determine business logic and required fields for creating a new rubric"

[2022-10-06 21:29] sah0017 opened #267 "NR: Design User Interface for creating a new rubric"

[2022-10-06 21:30] sah0017 opened #268 "NR: Convert storage of rubrics from JSON to SQL-based definition"

[2022-10-06 21:30] sah0017 opened #269 "NR: Write HTML to create User Interface for creating a new rubric"

[2022-10-06 21:30] sah0017 opened #270 "NR: Write selenium test to test User Interface for creating a new rubric"

[2022-10-06 21:30] sah0017 opened #271 "NR: Write methods to create rubric definitions"

[2022-10-06 21:30] sah0017 opened #272 "NR: Write unit tests for CRUD methods for rubric definition"

[2022-10-06 21:30] sah0017 opened #273 "ER: NR: Write methods to read, update, and delete rubric definitions"

[2022-10-08 20:23] mekealbrown commented on #242
Two tests currently written and passing. Test structure written out and further tests will be written. Looking to get full coverage tests completed by Wednesday.

[2022-10-11 16:41] mekealbrown commented on #243
We will not be incorporating the download functionality at this time.

[2022-10-11 16:41] #243 closed

[2022-10-11 20:55] ksoria0205 opened #274 "Document current design status of website"
Create some sort of documentation (recording or screenshot) of the website before changes are made to css. It should be added to the shared folder so we can keep track of changes being made

[2022-10-13 16:08] nathanaelhub commented on #274
Initial UI has been added to the shared folder.

[2022-10-13 16:12] #274 closed

[2022-10-13 20:05] Mr615-TN opened #275 "UT: Look at Flask_Login Library and try to get a basic test with the app.test_client method from the the Flask_Login library"

[2022-10-13 20:50] DanielDiazTortolero commented on #234
app.py fully documented.

[2022-10-13 20:50] #234 closed

[2022-10-13 20:50] DanielDiazTortolero commented on #233
Achieved modularization on a core package! (Backend-Sandbox)

[2022-10-13 21:52] DanielDiazTortolero commented on #247
Branch created

[2022-10-13 21:52] #247 closed

[2022-10-14 14:18] lagodinez opened #276 "Select_by_col_name"

[2022-10-14 14:19] lagodinez opened #277 "select_student_by_group"

[2022-10-14 16:17] Mr615-TN commented on #262
It's basically just a lesser version of Flask, though it provides some useful extensions that Flask doesn't have.

[2022-10-14 16:17] #262 closed

[2022-10-17 00:38] mekealbrown commented on #242
Pull request opened. Will move this to completed once changes are merged

[2022-10-17 15:00] DanielDiazTortolero commented on #233
All wiki sections are now broken up into their own modules!

[2022-10-17 15:00] #233 closed

[2022-10-18 00:28] ksoria0205 opened #279 "Create figma based on wireframe"

[2022-10-18 00:28] ksoria0205 opened #280 "Create wireframe"

[2022-10-18 15:10] nathanaelhub commented on #279
Figma:
https://www.figma.com/file/GiwKSu3xneeR3QIb6IbH8Q/POGIL-Mid-Fedelity?node-id=0%3A1

[2022-10-18 15:10] #279 closed

[2022-10-18 18:47] nathanaelhub commented on #230
created spreadsheet that identified selenium tests together with Karen
https://docs.google.com/spreadsheets/d/1-f4YYo2CNo8X5hj4wkwRwdwVhINYByUDymg-VkgqJ0Q/edit?usp=sharing

[2022-10-18 20:15] Mr615-TN opened #281 "Write documentation and Wiki Pages on Werkzeug for future users and students to look at"

[2022-10-18 20:16] Mr615-TN opened #282 "Write documentation and Wiki Page on Flask Login Library"

[2022-10-18 21:59] ksoria0205 commented on #280
https://wireframe.cc/pro/pp/53464e480590921

[2022-10-18 21:59] #280 closed

[2022-10-19 01:15] #281 closed

[2022-10-19 01:20] Mr615-TN opened #283 "Write Documentation and Wiki Page on Tests made by Evan"

[2022-10-19 01:21] Mr615-TN opened #284 "Write Documentation and Wiki Page on Tests made by Luis and Jeremy"

[2022-10-20 13:24] #283 closed

[2022-10-20 14:15] mr21Awesomeness commented on #261
Test 4 completed with 5 new tests!

[2022-10-20 14:15] #261 closed

[2022-10-20 14:15] #242 closed

[2022-10-27 13:43] #284 closed

[2022-10-27 15:28] ksoria0205 opened #285 "Add missing pages to Figma"

[2022-10-27 21:49] nathanaelhub opened #286 "Updating figma wireframe"

[2022-10-31 01:25] Mr615-TN opened #287 "Create a Wiki Page and format it as a User Manual for future Software Developers and others who will maintain the code"

[2022-11-02 17:57] brianlugo1 opened #291 "Implement test5_sharing.py Selenium Test"

[2022-11-03 18:50] sah0017 commented on #162
@mr21Awesomeness This was raised as an issue by the legacy team.  Do the changes that you've made/are making fix this issue?

[2022-11-03 18:54] sah0017 commented on #167
@ksoria0205 Make note of this in the figma design.

[2022-11-03 19:27] sah0017 commented on #218
@ksoria0205 for wireframe consideration

[2022-11-04 00:36] mr21Awesomeness commented on #162
@sah0017 The changes that I made do not fix this issue.

[2022-11-04 16:08] mr21Awesomeness commented on #162
I took a look at the code and broke up the init() function into 6 main parts.
Part 1, lines 1223-1230, Selects all of the checkboxes on the page and clicks the checkboxes twice if they are true.
Function: Toggle checkboxes on the page twice.
Problem: Double clicking a checkbox if it is true does nothing.
Solution: Remove lines 1223-1230 that do nothing or remove line 1228 that clicks the checkbox

[2022-11-04 16:29] mr21Awesomeness commented on #291
I have just committed to the "Implement-Sel-Tests" branch 18 comments that outline 18 new tests that need to be written. Tests 1-9 will be worked on by Mekeal and Karen. Tests 10-18 will be worked on by Nathanael and me.

[2022-11-07 18:04] ksoria0205 commented on #286
https://www.figma.com/file/GiwKSu3xneeR3QIb6IbH8Q/POGIL-Mid-Fedelity?node-id=0%3A1

Added manage and view page, but create new rubric page has not been added

[2022-11-07 18:04] #286 closed

[2022-11-08 03:43] mekealbrown commented on #226
All comments have been commented on and resolved. Most comments were concerning formatting and/or naming convention issues that have been fixed as of the current state of the test suite. The remainder of the comments were targeted to questionable logic found in some of the test/driver files; these logical issues have been fixed as of the latest state of the test suite.

[2022-11-08 03:43] #226 closed

[2022-11-08 21:10] #282 closed

[2022-11-08 21:36] Mr615-TN opened #295 "Update current version of documentation by adding Evan's new tests"

[2022-11-08 23:06] sah0017 opened #298 "test5_sharing.py test1 "Checking project name link works""

[2022-11-08 23:06] sah0017 opened #299 "test5_sharing.py test2 "Checking if manage button works""

[2022-11-08 23:06] sah0017 opened #300 "test5_sharing.py test3 "Checking if delete button works""

[2022-11-08 23:06] sah0017 opened #301 "test5_sharing.py test4 "Checking if downloading button works""

[2022-11-08 23:06] sah0017 opened #302 "test5_sharing.py test5 "Checking if Manage Projects link in the .breadcrumbs element works""

[2022-11-08 23:07] sah0017 opened #303 "test5_sharing.py test6 "Checking if send email button works""

[2022-11-08 23:07] sah0017 opened #304 "test5_sharing.py test7 "Checking if send with scores switch works""

[2022-11-08 23:07] sah0017 opened #305 "test5_sharing.py test8 "Checking if grade complete see details link works""

[2022-11-08 23:07] sah0017 opened #306 "test5_sharing.py test9 "Checking if clicking meta group that is complete after clicking grade complete see details link works""

[2022-11-08 23:07] sah0017 opened #307 "test5_sharing.py test10 "Checking if grade incomplete see details link works""

[2022-11-08 23:07] sah0017 opened #308 "test5_sharing.py test11 "Checking if clicking meta group that is incomplete after clicking grade incomplete see details link works""

[2022-11-08 23:07] sah0017 opened #309 "test5_sharing.py test12 "Checking if display all details link works""

[2022-11-08 23:07] sah0017 opened #310 "test5_sharing.py test13 "Checking if after clicking display all details link, if delete button works""

[2022-11-08 23:07] sah0017 opened #311 "test5_sharing.py test14 "Checking if create new permission button works""

[2022-11-08 23:07] sah0017 opened #312 "test5_sharing.py test15 "Checking if after clicking create new permission button, if entering valid email to share works""

[2022-11-08 23:07] sah0017 opened #313 "test5_sharing.py test16 "Checking if after clicking create new permission button, if entering invalid email to share works""

[2022-11-08 23:07] sah0017 opened #314 "test5_sharing.py test17 "Checking if clicking update group button after editing a student's email that is valid works""

[2022-11-08 23:08] sah0017 opened #315 "test5_sharing.py test18 "Checking if clicking update group button after editing a student's email that is invalid works""

[2022-11-10 15:55] mr21Awesomeness commented on #162
After further inspection, parts 1, 2, and some of 4 should not be removed.
Part 1 toggles all the saved checked boxes to update the counter for currently checked boxes when the page is loaded. With the current logic, the function to count all the currently checked boxes only gets run when the checkboxes are toggles.
Part 2 toggles the saved rating to update the currently selected rating when the p

[2022-11-10 16:07] mr21Awesomeness opened #316 "Implement solution to part 3 of "Investigate the 'Init()' function in the evaluation_page html file""

[2022-11-10 19:31] sah0017 opened #318 "Refactor html files to remove styling to a shared css file."
Each html file has all the styling embedded in them.  The styling should be separated out into a separate css file, and only overrides to standard styling should be directly in the html files.

[2022-11-10 19:37] sah0017 opened #319 "Refactor html files to pull javascript out into separate files."
html files should contain html, and the javascript should be in separate .js files and then included into the html.  We need to refactor the html files to move the javascript code to separate file.

[2022-11-10 21:26] nathanaelhub opened #320 "Implement solution to part 4 of "Investigate the 'init()' function in the evaluation_page html file""

[2022-11-10 21:54] #316 closed

[2022-11-10 22:44] mr21Awesomeness opened #321 "Transfer login css in login.html to separate login.css"

[2022-11-10 22:55] #321 closed

[2022-11-10 23:17] #320 closed

[2022-11-10 23:32] sah0017 opened #327 "Implement solution to part 5 of "Investigate the 'init()' function in the evaluation_page html file""

[2022-11-10 23:33] sah0017 opened #328 "Implement solution to part 6 of "Investigate the 'init()' function in the evaluation_page html file""

[2022-11-10 23:33] sah0017 opened #329 "Test accessibility for people with disabilities, using tools such as WAVE44 and Pa11y45 to help identify and correct accessibility issues"

[2022-11-10 23:33] sah0017 opened #330 "Instructor Reports: As an instructor, so I can understand the students' progress on developing their process skills, I want to have reports that can summarize scores across teams and show scores by team over time."

[2022-11-10 23:33] sah0017 opened #331 "Student Notification: As an instructor, so I can share inform the students of their performance, I want to be able to email the rubric scores to the members of the teams in my class."

[2022-11-15 22:02] #328 closed

[2022-11-15 22:02] #327 closed

[2022-11-15 22:03] #237 closed

[2022-11-15 22:03] #232 closed

[2022-11-15 22:03] #295 closed

[2022-11-15 22:03] lagodinez opened #334 "select_index_by_group_eva"

[2022-11-15 22:03] #334 closed

[2022-11-15 22:03] #276 closed

[2022-11-15 22:04] #248 closed

[2022-11-15 22:04] #277 closed

[2022-11-15 22:04] lagodinez opened #335 "new_map_generator"

[2022-11-15 22:04] #335 closed

[2022-11-15 22:05] #275 closed

[2022-11-15 22:05] lagodinez opened #336 "reformat unittests to run on modularized code"

[2022-11-15 22:05] #336 closed

[2022-11-15 22:06] lagodinez opened #337 "select_row_by_group_id"

[2022-11-15 22:06] #337 closed

[2022-11-15 22:06] lagodinez opened #338 "select_row_by_index"

[2022-11-15 22:06] #338 closed

[2022-11-15 22:06] lagodinez opened #339 "get_students_by_group"

[2022-11-15 22:06] #339 closed

[2022-11-15 22:06] lagodinez opened #340 "select_map_by_index"

[2022-11-15 22:06] lagodinez opened #341 "select_index_by_group_eva_ownder"

[2022-11-15 22:06] lagodinez opened #342 "select_index_by_group_eva_owner_date"

[2022-11-15 22:06] #342 closed

[2022-11-15 22:06] lagodinez opened #343 "new_row_generator"

[2022-11-15 22:06] #343 closed

[2022-11-15 22:06] #340 closed

[2022-11-15 22:06] #341 closed

[2022-11-15 22:15] #162 closed

[2022-11-29 21:34] #189 closed

[2022-11-30 21:34] #298 closed